@import './base';

.wrapper {
    @extend %width-100-height-100vh;
    @extend %position-relative;
    overflow: hidden;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_overlay {
        @extend %position-absolute-top-left;
        @extend %width-100-height-100vh;
        background-color: rgba($base-black, .8);
    }

    & .uc_image {
        @extend %position-absolute-top-left;
        @extend %width-100-height-100vh;

        & img {
            @extend %width-100-height-100;
            display: block;
            object-fit: cover;
        }
    }

    & .login_icon {
        @include position_mixin(absolute, 10%, 5%, null, null);
        transform: translateY(-50%);
        z-index: 9999;
        @include width_height_mixin(5rem, 5rem);
        border-radius: 50%;
        background-color: var(--template-one-primary-color);
        @include flex_mixin(flex, center, center, null, null);

        &  a {
            @include flex_mixin(flex, center, center, null, null);
            display: flex !important;
            padding: 1rem;
            & svg {
                @extend %width-100-height-100;
            }
            
        }
        

    }
}

.construction_cover {
    @include flex_mixin(flex, center, center, column, null);
    @extend %width-100-height-100vh;
    @include position_mixin(relative, null, null, null, null);

    z-index: 2;

    &-logo {
        margin-bottom: 10rem;

        & img {
            display: block;
            @include width_height_mixin(100%, auto);

            object-fit: cover;
        }
    }

    &-heading {
        text-align: center;

        & .main_title {
            @include width_height_mixin(null, auto);
            margin-bottom: 2rem;
            @include font_mixin(6.5rem, 700, 1.2, center);
            color: var(--template-one-primary-color);
            overflow: visible;
        }
    }

    &-text {
        max-width: 75rem;
        margin-bottom: 8rem;
        & p {
            @include font_mixin(2.2rem, 300, 1.5, center);
            color: var(--base-white-color);
            text-shadow: 0 0 5px rgba(0, 0, 0, 90%);
        }
    }

    &-icons {        
        & .social_media {
            padding: 0;
            margin: 0;
            @include flex_mixin(flex, space-between, center, null, 4rem);
            list-style: none;
    
            &_icon {
                & a {
                    @include flex_mixin(flex, center, center, null, null);
                    text-align: center;                    
                    padding: 1.2rem;                    
                    border: 1px solid transparent;
                    border-radius: 0.4rem;
                    transform: rotate(45deg);
                    text-align: center;
                    text-decoration: none;     
                    color: var(--base-white-color); 
                    font-size: 18px;
                    & i {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .construction_cover {
        &-heading {
            & h1 {
                line-height: 6rem;
                @include font_mixin(5rem, null, null, null);
                font-size: 5rem;
            }
        }
    }
}