.login_icon_footer {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 999;
  width: calc(clamp(3.125rem, 3.125rem + 0vw, 3.125rem));
  height: calc(clamp(3.125rem, 3.125rem + 0vw, 3.125rem));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  color: var(--wp--preset--color--sm-base);
  border-radius: 50%;
  & svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
  }
}

.wp-block-cover {
  margin: 0 !important;
  padding: 0 !important;
}