@import './base';

// hero section start
.wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    //overflow: hidden;
    & .container-fluid {
        padding: 0;
    }
}

.construction_cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8rem;
    position: relative;
    height: 100vh;
    width: 100%;

    &__left {
        height: 100%;
        &--img {
            width: 100%;
            height: 100vh;
            display: flex;
            overflow: hidden;
            & img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__right {
        height: 100vh;
        padding-right: 10rem;
        display: flex;
        align-items: center;
        width: 100%;

        .uc_content {
            width: 100%;
            &-logo {

                width: 9rem;
                height: auto;
                margin-bottom: 5rem;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &-heading {
                margin-bottom: 1.2rem;
            }
            & .sub_title {
                font-family: var(--#{$prefix}-open-sans);
                font-size: 2rem;
                line-height: 7rem;
                letter-spacing: 0.2rem;
                text-align: left;
                color: var(--#{$prefix}-text-color);
                font-weight: 700;
                text-transform: uppercase;
            }

            & .main_title {
                font-family: var(--#{$prefix}-open-sans);
                font-size: 5.4rem;
                font-weight: 700;
                text-align: left;
                line-height: 6.4rem;
                color: var(--#{$prefix}-light-blue-color);
                margin-bottom: 2rem;
            }
            &-text {
                margin-bottom: 8rem;
                & p {
                    font-family: var(--#{$prefix}-open-sans);
                    font-size: 2rem;
                    text-align: left;
                    line-height: 3.2rem;
                    color: var(--#{$prefix}-black-color);
                    max-width: 71.3rem;
                    font-weight: 300;
                    opacity: 1;
                }
            }
            &-social {
                & .sub_title {
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    margin-bottom: 2rem;
                }
                & .social_media {
                    display: flex;
                    list-style: none;
                    gap: 1.3rem;

                    & li {
                        & a {
                            border-radius: 50%;
                            height: 4rem;
                            width: 4rem;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid var(--#{$prefix}-light-blue-color);
                            border-radius: 50%;
                            padding: 0.8rem;

                            & svg {
                                & path, & circle {
                                    fill: var(--#{$prefix}-light-blue-color);
                                }
                            }

                            &:hover {
                                background-color: var(--#{$prefix}-light-blue-color);
                                border: 1px solid var(--#{$prefix}-white-color);
                                transition: all 0.4s;
                                & svg {
                                    & path, & circle {
                                        fill: var(--#{$prefix}-white-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .construction_cover {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        &__left {
            height: 90rem;
            width: 100%;
            overflow: hidden;
            &--img {
                width: 100%;
                height: 100%;
                display: flex;
            }
        }
        &__right {
            height: calc(100% - 50rem);
            padding: 5rem;
            width: 100%;
            & .uc_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 3rem 0;
                border-bottom: 1px solid #ececec;
                &-logo {
                    width: 9rem;
                    height: auto;
                }
            }
            & .uc_content {
                height: calc(100% - 6.6rem);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                &-text p {
                    line-height: 4.4rem;
                    font-size: 3rem;
                }
                & .main_title {
                    font-size: 5rem;
                    line-height: 6.5rem;
                }
                & .sub_title {
                    font-size: 3rem;
                }
                &-social {
                    & .social_media {
                        & li {
                            & a {
                                border-radius: 50%;
                                height: 6rem;
                                width: 6rem;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid var(--uc-light-blue-color);
                                border-radius: 50%;
                                padding: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}