@import './base';

// hero section start
.wrapper {
  @extend %width-100-height-100vh;
  @extend %position-relative;
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  & .content {
    height: 68vh;
    @include flex_mixin(flex, null, center, null, null);
  }
}

.uc_header {
  border-bottom: 1px solid var(--base-border-color);
  padding: 2rem 0;
  min-height: 14rem;
  @include flex_mixin(flex, center, center, null, null);

  &-img {
    @extend %width-100-height-100;
    text-align: center;
    max-width: 15rem;
    margin: 0 auto;
    max-height: 7.7rem;
    & img {
      @extend %width-100-height-100;
      @include flex_mixin(flex, null, null, null, null);
      object-fit: contain;
    }
  }

}

.construction_cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  //height: calc(100vh - 30rem);
  @include width_height_mixin(100%, null);

  &__left {
    @include flex_mixin(flex, center, start, column, null);

    &--img {
      @include flex_mixin(flex, null, null, null, null);
      @include width_height_mixin(null, 50rem);

      & img {
        @extend %width-100-height-100;
        object-fit: contain;
        display: block;
      }
    }
    &--heading {
      margin-bottom: 1.2rem;
    }

    &--text {
      & p {
        font-size: 1.8rem;
        text-align: left;
        line-height: 3.2rem;
        color: var(--base-black-color);
        max-width: 71.3rem;
        font-weight: 300;
        opacity: 1;
      }
    }
    & .sub_title {
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: 0.2rem;
      text-align: left;
      color: var(--template-four-text-color);
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    & .main_title {
      font-size: 3.8rem;
      font-weight: 700;
      text-align: left;
      line-height: 4.8rem;
      color: var(--template-four-primary-color);
      margin-bottom: 2rem;
    }
  }

  &__right {
    @extend %position-relative;
    @include flex_mixin(flex, null, center, null, null);

    &--img {
      @include width_height_mixin(100%, 40rem);
      overflow: hidden;
      border-radius: 1rem;

      & img {
        @extend %width-100-height-100;
        object-fit: cover;
        display: block;
      }
    }
  }
}

// Footer
.uc_footer {
  border-top: 1px solid var(--base-border-color);
  padding: 2rem 0;
  @include width_height_mixin(null, 14rem);

  @include flex_mixin(flex, center, center, null, null);
  min-height: 12rem;

  & .social_media {
    @include flex_mixin(flex, center, null, null, 1.5re,);
    list-style: none;

    & li {
      padding: 0.8rem;
      & a {
        text-align: center;
        & svg {
          @include width_height_mixin(2rem, 2rem);
          & path, & circle {
            fill: var(--template-four-text-color);
          }
        }

        &:hover {
          transition: all 0.4s;
          & svg {
            & path, & circle {
              fill: var(--template-four-primary-color);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .construction_cover__right {
    &-heading {
      margin-bottom: 1rem;

      & h1 {
        line-height: 7rem;
      }
    }
  }
  .uc_footer {
    & .social_media {
      & li {
        & a {
          padding: 0.5rem;
        }
      }
    }
  }
  .construction_cover {
    grid-template-columns: repeat(1, 1fr);
    &__left {
      order: 2;
    }
    &__right {
      order: 1;
      &--img {
        @include width_height_mixin(100%, 50rem);
        overflow: hidden;
        border-radius: 1rem;
      }
    }
  }

}



.test {
  @include grid_mixin(4, 3rem);
}