@import './base';

// hero section start
.wrapper {
    @extend %width-100-height-100vh;
    @extend %position-relative;
    z-index: 1;

    & .container-fluid {
        padding: 0;
    }
}

.construction_cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8rem;
    
    @extend %position-relative;
    @extend %width-100-height-100vh;
    &__left {
        @include width_height_mixin(null, 100%);

        &--img {
            @extend %width-100-height-100vh;
            @include flex_mixin(flex, null, null, null, null);
            overflow: hidden;
            & img {
                display: block;
                @extend %width-100-height-100;
                object-fit: cover;
            }
        }
    }

    &__right {
        @include flex_mixin(flex, null, center, null, null);
        @extend %width-100-height-100vh;
        padding-right: 10rem;

        .uc_content {
            @include width_height_mixin(100%, null);

            &-logo {
                @include width_height_mixin(9rem, auto);
                margin-bottom: 5rem;
                & img {
                    @extend %width-100-height-100;
                    object-fit: contain;
                }
            }
            &-heading {
                margin-bottom: 1.2rem;
            }
            & .sub_title {
                font-size: 2rem;
                line-height: 7rem;
                letter-spacing: 0.2rem;
                text-align: left;
                color: var(--template-three-text-color);
                font-weight: 700;
                text-transform: uppercase;
            }

            & .main_title {
                font-size: 5.4rem;
                font-weight: 700;
                text-align: left;
                line-height: 6.4rem;
                color: var(--template-three-primary-color);
                margin-bottom: 2rem;
            }
            &-text {
                margin-bottom: 8rem;
                & p {
                    font-size: 2rem;
                    text-align: left;
                    line-height: 3.2rem;
                    color: var(--base-black-color);
                    max-width: 71.3rem;
                    font-weight: 300;
                    opacity: 1;
                }
            }
            &-social {
                & .sub_title {
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    margin-bottom: 2rem;
                }
                & .social_media {
                    @include flex_mixin(flex, null, null, null, 1.3rem);
                    list-style: none;

                    & li {
                        & a {
                            @include flex_mixin(flex, center, center, null, null);
                            @include width_height_mixin(4rem, 4rem);
                            text-align: center;
                            border: 1px solid var(--template-three-primary-color);
                            border-radius: 50%;
                            padding: 0.8rem;

                            & svg {
                                & path, & circle {
                                    fill: var(--template-three-primary-color;
                                }
                            }

                            &:hover {
                                background-color: var(--template-three-primary-color);
                                border: 1px solid var(--base-white-color);
                                transition: all 0.4s;
                                & svg {
                                    & path, & circle {
                                        fill: var(--base-white-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .construction_cover {
        @include flex_mixin(flex, null, null, column, 0);

        &__left {
            @include width_height_mixin(100%, 90rem);
            overflow: hidden;
            &--img {
                @include width_height_mixin(100%, 100%);
                @include flex_mixin(flex, null, null, null, null);
            }
        }
        &__right {
            //height: calc(100% - 50rem);
            padding: 5rem;
            @include width_height_mixin(100%, calc(100% - 50rem));

            & .uc_header {
                @include flex_mixin(flex, space-between, center, null, null);
                padding: 0 0 3rem 0;
                border-bottom: 1px solid #ececec;

                &-logo {
                    @include width_height_mixin(9rem, auto);
                }
            }
            & .uc_content {
                @include width_height_mixin(null, calc(100% - 6.6rem));
                @include flex_mixin(flex, center, flex-start, column, null);

                &-text p {
                    line-height: 4.4rem;
                    font-size: 3rem;
                }
                & .main_title {
                    font-size: 5rem;
                    line-height: 6.5rem;
                }
                & .sub_title {
                    font-size: 3rem;
                }
                &-social {
                    & .social_media {
                        & li {
                            & a {
                                @include width_height_mixin(6rem, 6rem);
                                @include flex_mixin(flex, center, center, null, null);
                                border-radius: 50%;
                                text-align: center;
                                border: 1px solid var(--uc-light-blue-color);
                                padding: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}