@import './base';

.wrapper {
    @extend %width-100-height-100vh;
    @extend %position-relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    & .container-fluid {
        padding: 0;
    }

    &_overlay {
        @extend %position-absolute-top-left;
        @extend %width-100-height-100vh;
        background-color: rgba($base-black, .8);
    }

    & .content {
        @extend %width-100-height-100vh;
        @include flex_mixin(flex, null, stretch, null, null);
    }

    & .uc_image {
        @extend %position-absolute-top-left;
        @extend %width-100-height-100vh;

        & img {
            @extend %width-100-height-100;
            display: block;
            object-fit: cover;
        }
    }
}

.construction_cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    @extend %position-relative;
    @include width_height_mixin(100%, null);

    &__left {
        @extend %width-100-height-100;
        @include flex_mixin(flex, center, center, null, null);
        background-color: rgba($base-white,0.1);

        &--logo {
            @include width_height_mixin(null, 13rem);
            @extend %position-relative;
            z-index: 2;

            & img {
                @extend %width-100-height-100;
                object-fit: contain;
            }
        }
    }

    &__right {
        @include flex_mixin(flex, center, start, column, null);
        @extend %width-100-height-100;
        padding: 0 10rem;
        border-left: 1px solid rgba($base-white,0.3);;

        &--logo {
            margin-bottom: 6rem;
            @include width_height_mixin(13rem, 15.9rem);

            & img {
                @extend %width-100-height-100;
            }
        }

        &--heading {
            margin-bottom: 1.2rem;

            & .main_title {
                @include font_mixin(5rem, 700, 6.6rem, left);
                color: var(--template-two-primary-color);
                margin-bottom: 2.4rem;
            }
        }

        &--text {
            margin-bottom: 5rem;
            @include flex_mixin(flex, start, null, null, null);

            & p {
                @include font_mixin(2rem, 300, 3.2rem, left);
                color: var(--base-white-color);
            }

        }

        &--icons .social_media {
            @include flex_mixin(flex, null, center, null, 2.98rem);
            list-style: none;

            & li {
                @include width_height_mixin(null, 2.2rem);

                & a {
                    @include flex_mixin(flex, center, center, null, 0);
                    @include width_height_mixin(null, 100%);
                    text-align: center;

                    & svg {
                        @extend %width-100-height-100;

                        & path, & circle {
                            fill: var(--base-white-color);
                        }
                    }

                    &:hover {
                        transition: all 0.4s;

                        & svg {
                            @extend %width-100-height-100;

                            & path, & circle {
                                fill: var(--template-two-primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .construction_cover {
        &__left {
            &--logo {
                @include width_height_mixin(null, 12rem);
            }
        }
        &__right {
            &--heading {
                & h1 {
                    @include font_mixin(5.5rem, null, 6.6rem, null);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .construction_cover {
        &__left {
            &--logo {
                @include width_height_mixin(null, 12rem);
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .construction_cover {
        grid-template-columns: repeat(1, 1fr);
        &__left {
            &--logo {
                @include width_height_mixin(null, 12rem);
            }
        }
    }
}