$prefix: 'um';

// General Variables
$body-font-family: 'Open Sans', sans-serif;
$transition-cubic-brezier: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$transition-opacity: opacity 0.2s ease-in-out;
$border-width: 1px;
$border-radius-50: 50%;


// Colors
$primary_color: #6F73D2;
$secondary_color:  #757575;
$white_color: #ffffff;
$black_color: #000000;
$btn_bg_color: #F0F0F1;

// Checkbox
$checkbox-width-height: 19px;
$checkbox-width-before: $checkbox-width-height;
$checkbox-height-before: $checkbox-width-height;
$checkbox-width-after: $checkbox-width-height;
$checkbox-height-after: $checkbox-width-height;
$checkbox-mark-top: $border-width + 3;
$padding-top-bottom: $checkbox-width-height / 3;
$padding-left-right: $checkbox-width-height + 20px;

// Form Field Variables
$input-bottom-spacing: 1.5rem;
$width: 2.5em;
$height: $width/2;
$form-fields-width: 20em;
$form-fields-height: 3em;
$form-field-border-radius: .25em;
$form-field-padding: 0 1em;
$form-field-font-size: 14px;
$outline-width: $border-width;

