@import './variables';
@import 'components/mixins';
@import './general';
@import 'layout/tabs';
@import 'components/simple-checkbox';
@import 'components/simple-radio';
@import 'components/select';
@import 'components/input';
@import 'components/toggle';





// Variables
$color_checkbox_success: #2271b1;
$color_checkbox_default:#8E8E93;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 2em;
$height: $width/2;





.bg-image-upload {
  width: 400px;
  height: 250px;
  display: block;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Logo-upload  {
  display: block;
  width: 80px;
  height: auto;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


/*
// Toggle
.toggle{
  .toggle-control{
    transition: $transition;
    width: $width;
    height: $height;
    display: block;
    border: 2px solid rgba(black,.01);
    border-radius: $height;
    background-color: rgba(black,.06);
    position: relative;
    &:after{
      transition: $transition;
      content: "";
      width: $width/2;
      height: $height;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, .2),0 3px 2px rgba(black,.2);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after{
        left: $width/2;
      }
    }
  }
}
*/




