:root {
	--uc-black-color: #000000;
	--uc-black-v2: #141414;
	--uc-white-color: #ffffff;
	--uc-gray-color: #707070;
	--uc-text-color: #141414;
	--uc-yellow-color: #ff9800;
	--uc-light-blue-color: #3943B3;
	--uc-blue-color: #27429C;
	--uc-half-white-color: #f4f4f4;
	--uc-open-sans: Open Sans, sans-serif;
	--uc-orange-color: #E5792B;
	--uc-red-color: #db3529;
	--uc-text-new: #8d8c8c;
	--uc-green-heading: #6FB644;
	--uc-navy-blue: #294F97;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--uc-open-sans);
	font-size: 1.6rem;
	color: var(--uc-text-color);
}

.container {
	max-width: 114rem;
	margin: 0 auto;
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1.5%;
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 55%;
	}
	.container {
		max-width: 100%;
		padding: 0 4rem;
	}
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 40%;
	}
	.container {
		max-width: 100%;
		padding: 0 3rem;
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size: 30%;
	}
	.container {
		max-width: 100%;
		padding: 0 3.9rem;
	}
}

.wrapper {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
}

.wrapper .container-fluid {
	padding: 0;
}

.construction_cover {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8rem;
	position: relative;
	height: 100vh;
	width: 100%;
}

.construction_cover__left {
	height: 100%;
}

.construction_cover__left--img {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.construction_cover__left--img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.construction_cover__right {
	height: 100vh;
	padding-right: 10rem;
	display: flex;
	align-items: center;
	width: 100%;
}

.construction_cover__right .uc_content {
	width: 100%;
}

.construction_cover__right .uc_content-logo {
	width: 9rem;
	height: auto;
	margin-bottom: 5rem;
}

.construction_cover__right .uc_content-logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.construction_cover__right .uc_content-heading {
	margin-bottom: 1.2rem;
}

.construction_cover__right .uc_content .sub_title {
	font-family: var(--uc-open-sans);
	font-size: 2rem;
	line-height: 7rem;
	letter-spacing: 0.2rem;
	text-align: left;
	color: var(--uc-text-color);
	font-weight: 700;
	text-transform: uppercase;
}

.construction_cover__right .uc_content .main_title {
	font-family: var(--uc-open-sans);
	font-size: 5.4rem;
	font-weight: 700;
	text-align: left;
	line-height: 6.4rem;
	color: var(--uc-light-blue-color);
	margin-bottom: 2rem;
}

.construction_cover__right .uc_content-text {
	margin-bottom: 8rem;
}

.construction_cover__right .uc_content-text p {
	font-family: var(--uc-open-sans);
	font-size: 2rem;
	text-align: left;
	line-height: 3.2rem;
	color: var(--uc-black-color);
	max-width: 71.3rem;
	font-weight: 300;
	opacity: 1;
}

.construction_cover__right .uc_content-social .sub_title {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-bottom: 2rem;
}

.construction_cover__right .uc_content-social .social_media {
	display: flex;
	list-style: none;
	gap: 1.3rem;
}

.construction_cover__right .uc_content-social .social_media li a {
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--uc-light-blue-color);
	border-radius: 50%;
	padding: 0.8rem;
}

.construction_cover__right .uc_content-social .social_media li a svg path, .construction_cover__right .uc_content-social .social_media li a svg circle {
	fill: var(--uc-light-blue-color);
}

.construction_cover__right .uc_content-social .social_media li a:hover {
	background-color: var(--uc-light-blue-color);
	border: 1px solid var(--uc-white-color);
	transition: all 0.4s;
}

.construction_cover__right .uc_content-social .social_media li a:hover svg path, .construction_cover__right .uc_content-social .social_media li a:hover svg circle {
	fill: var(--uc-white-color);
}

@media screen and (max-width: 800px) {
	.construction_cover {
		display: flex;
		flex-direction: column;
		grid-gap: 0;
	}
	.construction_cover__left {
		height: 90rem;
		width: 100%;
		overflow: hidden;
	}
	.construction_cover__left--img {
		width: 100%;
		height: 100%;
		display: flex;
	}
	.construction_cover__right {
		height: calc(100% - 50rem);
		padding: 5rem;
		width: 100%;
	}
	.construction_cover__right .uc_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 3rem 0;
		border-bottom: 1px solid #ececec;
	}
	.construction_cover__right .uc_header-logo {
		width: 9rem;
		height: auto;
	}
	.construction_cover__right .uc_content {
		height: calc(100% - 6.6rem);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.construction_cover__right .uc_content-text p {
		line-height: 4.4rem;
		font-size: 3rem;
	}
	.construction_cover__right .uc_content .main_title {
		font-size: 5rem;
		line-height: 6.5rem;
	}
	.construction_cover__right .uc_content .sub_title {
		font-size: 3rem;
	}
	.construction_cover__right .uc_content-social .social_media li a {
		border-radius: 50%;
		height: 6rem;
		width: 6rem;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--uc-light-blue-color);
		border-radius: 50%;
		padding: 1.3rem;
	}
}
