ul.wp-block-blocks-course-dynamic-posts {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	li {

		img {
			margin-bottom: 10px;
		}

		h5 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;

			a {
				color: #000;
			}
		}

		time {
			font-size: 12px;
			color: #969696;
		}

		p {
			font-size: 14px;
			color: #303030;
			line-height: 1.6;
			margin: 15px 0 0;
		}
	}
}

.countdown_main-wrapper {
  & .countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	flex-wrap: wrap;
	@media screen and (max-width: 800px) {
	  gap: 0.4rem;
	}
	& .sm-countdown-box {
	  text-align: center;
	  font-weight: 500;
	  padding: clamp(0.7rem, 0.6rem + 1.25vw, 1rem);
	  border-radius: clamp(0.7rem, 0.6rem + 1.25vw, 1rem);
	  min-width: 5rem;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	  box-sizing: border-box;
	  border: 2px solid transparent;
	  width: clamp(6rem, 4.571rem + 3.81vw, 8rem);
	  height: clamp(6rem, 4.571rem + 3.81vw, 8rem);
	  @media screen and (max-width: 767px) {
		width: 4rem;
		height: 5rem;
		padding: 0.5rem;
		border-radius: 0.6rem;
	  }
	}
	&.countdown-without-box {
	  & .sm-countdown-box {
		background-image: none !important;
		border-radius: 0 !important;
	  }
	}
	&.countdown-individual-shadow {
	  & .sm-countdown-box {
		box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
		-webkit-box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
		-moz-box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
		border: 1px solid transparent;
	  }
	}
	&.countdown-box-shadow {
	  box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
	  -webkit-box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
	  -moz-box-shadow: 10px 14px 42px -11px rgba(0,0,0,0.22);
	  background: rgba(255,255,255,0.15);
	}
	&.countdown-column {
	  flex-direction: column;
	  gap: 1.5rem;
	  & .sm-countdown-box {
		box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.15);
		border-radius: 1rem;
		width: 100%;
	  }
	  & .countdown-seperator {
		display: none;
	  }
	  //& .countdown_number {
		//font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
		//@media screen and (max-width: 767px) {
		//  font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
		//}
	  //}

	}
	&.countdown-with-simple-seperator {
	  gap: 0;
	  & .sm-countdown-box {
		border-radius: 0 !important;
	  }
	  & .countdown-seperator {
		width: 2px;
		height: 100%;
		text-indent: -9999px;
		white-space: nowrap;
	  }
	  //& .countdown_number {
		//font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
		//@media screen and (max-width: 767px) {
		//  font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
		//}
	  //}
	}
	&.countdown-in-row {
	  gap: 0;
	  & .sm-countdown-box {
		border-radius: 0 !important;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

	  }
	  & .countdown-seperator {
		width: 2px;
		height: 100%;
		text-indent: -9999px;
		white-space: nowrap;
	  }
	  //& .countdown_number {
		//font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
		//@media screen and (max-width: 767px) {
		//  font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
		//}
	  //}
	}

	&.countdown-in-row-individual {
	  gap: 0.5rem;
	  & .sm-countdown-box {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		border-radius: 1rem;
		width: auto;
		height: auto;
	  }
	}
	&.countdown-flat {
	  & .sm-countdown-box {
		border-radius: 0;
	  }
	  //& .countdown_number {
		//font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
		//@media screen and (max-width: 767px) {
		//  font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
		//}
	  //}
	}
	&.countdown-circle {
	  & .sm-countdown-box {
		border-radius: 50%;
		align-items: center;
		justify-content: center;
	  }
	  //& .countdown_number {
		//font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
		//@media screen and (max-width: 767px) {
		//  font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
		//}
	  //}
	}
	& .countdown-seperator {
	  font-size: 2rem;
	  font-weight: 500;
	}
	& .countdown_number {
	  font-size: clamp(1.25rem, 0.833rem + 5.208vw, 2.5rem);
	  font-weight: 500;
	  line-height: 1;
	  order: 1;
	  @media screen and (max-width: 767px) {
		font-size: clamp(1.75rem, 1.214rem + 1.429vw, 2.5rem);
	  }
	}
	& .countdown_label {
	  order: 2;
	  font-size: clamp(0.75rem, 0.75rem + 0.417vw, 1.125rem);
	  font-weight: 300;
	}
  }
}

.login_icon_footer {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 999;
  width: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
  height: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.15);
  color: var(--smd-primary-color);
  border-radius: 50%;
  & svg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
  }
}
