.sm-login-form-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  & .sm-login-form-cover {
	padding: 2rem;
	background-color: #ffffff;
	min-width: 29.1rem;
	border-radius: 0.8rem;
	& .login__heading {
	  font-size: 2rem;
	  font-weight: 600;
	  margin: 0 0 1rem 0;
	}
	& #sm-login-form-block {
	  & > .sm__input-field {
		display: flex;
		padding: 0;
		flex-direction: column;
		gap: 0.5rem;
		margin: 0 0 1.5rem 0;
		& input.input {
		  padding: 0.5rem;
		  height: 2.625rem;
		  border-radius: 0.3rem;
		  border: 1px solid #cfcfcf;
		}
		&.login-remember {
		  & label {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		  }
		}
		&:last-child {
		  margin-bottom: 0;
		}
		&.sm__remember-me {
		  display: flex;
		  align-items: center;
		  gap: 0.5rem;
		  flex-direction: row;
		}
		&.sm__submit-field {
		  & .block-editor-rich-text__editable.wp-block-button__link {
			height: auto;
			padding: 0.515rem 3rem !important;
			background-color: var(--wp--preset--color--primary);
			border-color: var(--wp--preset--color--primary);
			cursor: pointer;
			border-radius: 0.3rem;
			font-size: 16px;
			&:hover {
			  background-color: darken(#9DFF20, 10%);
			  color: var(--smd-contrast-color);
			}
		  }
		}
	  }
	}
  }
}
