// Tabs
.toplevel_page_wprex-maintenance-mode {
  & .nav-tab-wrapper {
    @include border(bottom, 1px, solid, rgba($secondary_color, .1));
    display: flex;
    align-items: end;
    & .nav-tab {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: $white_color;
      margin: 0;
      padding: 12px 30px;
      text-transform: uppercase;
      border: 1px solid rgba($secondary_color, .2);
      border-right: none;
      border-bottom: none;
      opacity: 0.8;
      transition: $transition-opacity;
      &:hover {
        opacity: 1;
      }
      &:first-child {
        border-top-left-radius: 5px;
      }
      &:last-child {
        @include border(right, 1px, solid, rgba($secondary_color, .2));
        border-top-right-radius: 5px;
      }
      & svg {
        width: 18px;
        & path, & circle {
          fill: $primary_color;
        }
      }
      &.nav-tab-active {
        background-color: $primary_color;
        color: $white_color;
        border-bottom: none;
        opacity: 1;
        padding: 15px 30px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        & svg {
          & path, & circle {
            fill: $white_color;
          }
        }
      }
      &:focus {
        @include box-shadow();
        outline: $outline-width solid transparent;
      }
    }
    & + form {
      background-color: $white_color;
      padding: 20px 20px 20px 20px;
      & h2, .submit {
        padding: 0;
        margin: 0;
      }

    }
  }
}
.redirect_options {
  display: none;
  align-items: start;
  gap: 2rem;
}

// Content Tab Section
.um_btn {
  background: $primary_color !important;
  border-color: $primary_color !important;
  color: $white_color !important;
  width: auto !important;
  height: auto !important;

  &:hover {
    background-color: darken($primary_color, 3) !important;
    border-color: darken($primary_color, 3) !important;
  }
}
.um_btn_outline {
  background: $secondary_color !important;
  border-color: $secondary_color !important;
  color: $white_color !important;
  width: auto !important;
  height: auto !important;

  &:hover {
    background-color: $primary_color !important;
    border-color: $primary_color !important;
    color: $white_color !important;
  }
}

.bg-image-upload {
  margin-bottom: $input-bottom-spacing;
}

.image_logo_wrapper, .text_logo_type {
  display: none;
}
.description_editor {
  width: 60%;
}
.logo_type_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bg_image_wrapper {
  position: relative;
  max-width: 400px;
  max-height: 250px;
  margin-bottom: 15px;

  & .image_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 99;
    display: block;
    background: transparent !important;
    margin-bottom: 0 !important;
    &:hover {
      background-color: transparent !important;
    }
  }
  .display_bg_img, .display_logo_img {
    display: block;
    margin-bottom: 15px;
    background-color: transparent;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .normal_btn {
    position: relative;
    width: auto !important;
    height: auto !important;
    display: inline-block;
    background: $secondary_color !important;
    border-color: $secondary_color !important;
    color: $white_color !important;
    width: auto !important;
    height: auto !important;

    &:hover {
      background-color: $primary_color !important;
      border-color: $primary_color !important;
      color: $white_color !important;
    }
  }
}


// Design Tab
.template__wrapper {
  & .template_options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}

.template_thumb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  & .radio-img {
    display: flex;
    width: 100%;
    height: auto;
    & > .image {
      cursor: pointer;
      aspect-ratio: 3 / 2;
    }
  }
  & .image {
    opacity: 0.8;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: gray;
    background-size: cover;
    display: inline-block;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
  & .template_actions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.4);
    & .template_title {
      &-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 600;
        height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    & .active_template-btn {
      & a, span {
        display: inline-block;
        text-decoration: none;
        font-size: 13px;
        line-height: 1.8;
        min-height: 30px;
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        -webkit-appearance: none;
        border-radius: 3px;
        white-space: nowrap;
        box-sizing: border-box;
        background: #2271b1;
        border-color: #2271b1;
        color: #fff;
        text-shadow: none;
        vertical-align: baseline;
        transition: all .2s;
        &:hover {
          background: #135e96;
          border-color: #135e96;
          color: #fff;
        }
      }
    }
  }
}
.activated_template {
  background-color: #141414;
  & .template_actions {
    & .template_title {
      &-title {
        color: #ffffff;
      }
    }
    & .active_template-btn {
      & span {
        background-color: #d7d7d8;
        border-color: #d7d7d8;
        color: #515151;
        cursor: not-allowed;
        &:hover {
          background-color: #d7d7d8;
          border-color: #d7d7d8;
          color: #515151;
        }
      }
    }
  }
}


// Social Media Tab
.hide_socialmedia {
  display: none;
}
.disable_media_input {
  background-clip: padding-box;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #e9ecef !important;
  pointer-events: none;
}
.social_media_field_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  & .um_checkbox_wrapper {
    margin-bottom: 0;
    margin-top: -2px;
  }
}
.socialmedia__wrapper {
  & .social_media_field {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    & button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    & %sort_icon {
      & svg {
        & path {
          fill: $secondary_color;
        }
      }
    }
    & .sortable_icon {
      margin-right: 10px;
      @extend %sort_icon;
      & button {
        height: 29px;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3px;
        padding-right: 2px;
        & svg {
          width: 16px;
          & path {
            fill: rgba($secondary_color,0.8);
          }
        }
      }
    }
    & .social_icon {
      border: 1px solid $secondary_color;
      width: 28px;
      height: 28px;
      background-color: $secondary_color;
      border-radius: .3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: auto;
        & svg {
          & path, & circle {
            fill: $white_color;
          }
        }
      }
    }
    & .social_field {

    }
    & .social_delete {
      @extend %sort_icon;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 2;
      transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
      & button {
        & svg {
          width: 18px;
          height: 18px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: rgba($primary_color,.10);
        transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
        opacity: 1;
        z-index: -1;
      }
      &:hover {
        & button {
          & svg {
            & path {
              fill: $primary_color;
            }
          }
        }
        &::before {
          opacity: 1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1536px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  .template_thumb {
    & .radio-img {
      height: 210px;
    }
    & .image {
      height: 210px;
    }
  }
}





