.#{$prefix}_input_cover {
  & input[type="text"] {
    width: $form-fields-width;
    height: $form-fields-height;
    line-height: 3;
    background: $white_color;
    border: $border-width solid $primary_color;
    border-radius: $form-field-border-radius;
    padding: $form-field-padding;
    font-size: $form-field-font-size;
    font-family: $body-font-family;
    &:active, &:hover, &:focus-visible {
      border-color: $primary_color;
    }
    &:focus {
      box-shadow: $focus-shadow;
      outline: $outline-width solid transparent;
    }
  }
}
.label_top {
  & label {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
}