.#{$prefix}_input_cover {
  & input[type="text"] {
    width: $form-fields-width;
    height: $form-fields-height;
    line-height: 3;
    background: $white-color;
    border: $border-width solid $secondary-color;
    border-radius: $form-field-border-radius;
    padding: $form-field-padding;
    font-size: $form-field-font-size;
    font-family: $base-font-family;
    &:active, &:hover, &:focus-visible {
      border-color: $primary-color;
    }
    &:focus {
      @include box-shadow();
      outline: $outline-width solid transparent;
    }
  }
}
