/*------------------------------------------------
Plugin general styling 
  1.  CSS root variables
  2.  Utilities
  3.  Base structure classes
  4.  Form Layout
  5.  Buttons
  6.  Tabs
      (a) General Tab
      (b) Content Tab
      (c) Social Media Tab
      (d) Design Tab
      (e) SEO tab
      (f) Advance Tab
      (g) Import/Export Tab
  7.  Responsiveness
------------------------------------------------*/

/*-----------------------------------------------
1.  CSS root variables
-----------------------------------------------*/
:root {
  @each $color, $value in $colors {
    --sm-#{$color}: #{$value};
  }
  @each $font, $value in $font-families {
    --sm-#{$font}: #{$value};
  }
}

/*-----------------------------------------------
2.  Utilities
-----------------------------------------------*/
.screen-reading {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.redirect_options {  
  align-items: start;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.mb-15 {
  margin-bottom: calculateRem(15px);
}

.hide_socialmedia, .hide_field, .sm_hide_field {
  display: none;
}

/*-----------------------------------------------
3.  Base structure classes
-----------------------------------------------*/
body {
  font-size: 16px !important;
}

.site_mode__wrap {
  & > h1 {
    margin: 0;
    margin-bottom: calculateRem(15px);
    padding: 0;
  }

  &--cover {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: calculateRem(30px);
    
    &-sidebar {
      background-color: var(--sm-base-white-color);
      padding: calculateRem(20px);
    }
  }
  & p.submit {
    margin: 0;
    padding: 0;
  }
  &-form {
    background-color: var(--sm-base-white-color);
    padding: calculateRem(40px) calculateRem(20px) calculateRem(20px) calculateRem(20px);
  }
}

.section__wrapper {
  .section__wrapper-header {
    .section_title {
      margin-bottom: calculateRem(30px);
      &-title {
        margin: 0;
        padding: 0;
      }
    }
  }
  .section__wrapper-content {
    padding-bottom: calculateRem(30px);
    border-bottom: calculateRem(1px) solid rgba($secondary-color, 0.1);
    margin-bottom: calculateRem(30px);
  }  
}


/*-----------------------------------------------
4.  Form Layout
-----------------------------------------------*/
.option__row {
  display: flex;
  gap: calculateRem(30px);
  margin-bottom: calculateRem(40px);
  &:last-child {
    margin-bottom: 0;
  }
  &--label {
    width: calculateRem(300px);
    & span {
      display: block;
      font-weight: 400;
      & label {
        font-weight: 400;
      }
      &.info_text {
        @include fontSize(12px);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  &--field {
    flex: 1;
    & .role_checkbox {
      margin-bottom: 1.5rem;
    }
  }
}

/*-----------------------------------------------
5.  Buttons
-----------------------------------------------*/
@import './components/button';

/*-----------------------------------------------
6.  Tabs
-----------------------------------------------*/

//  (a) General Tab
.login_url_field {
  margin-bottom: 1.5rem;
}

//  (b) Content Tab
.image_logo_wrapper {
  & a {
    display: block;
  }
}

.bg-image-upload {
  display: block;
  height: auto;
  margin-bottom: 20px;
  & .image_display {
    position: relative;
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.logo-upload {
  display: block;
  height: auto;
  margin-bottom: 20px;
  & .image_logo_display {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.button.bg-image-upload, .button.logo-upload {
  @extend .btn_outline;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}


.logo_type_wrapper {
  @include flex_mixin(flex, null, center, null, 10px);
}

.image_logo_wrapper, .text_logo_wrapper {
  display: none;
  margin-bottom: calculateRem(40px);
}

.description_editor {
  width: 60%;
}

//  (c) Social Media Tab

.disable_media_input {
  background-clip: padding-box;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #e9ecef !important;
  pointer-events: none;
}
.social_media_field_wrapper {
  @include flex_mixin(flex, null, center, null, 10px);
  & .um_checkbox_wrapper {
    margin-bottom: 0;
    margin-top: -2px;
  }
}
.socialmedia__wrapper {
  & ul {
    & .disable_media {
      opacity: 0.5;
    }
  }
  & .social_media_field {
    display: grid;
    grid-template-columns: 16px 32px 1fr;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    & button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    & %sort_icon {
      & svg {
        & path {
          fill: var(--sm-secondary-color);
        }
      }
    }
    & .sortable_icon {
      margin-right: 10px;
      @extend %sort_icon;
      & span {
        cursor: ns-resize;
        & svg {
          width: 16px;
          & path {
            fill: rgba($secondary-color,0.8);
          }
        }
      }
    }
    & .social_icon {
      border: 1px solid var(--sm-secondary-color);
      width: 30px;
      height: 30px;
      background-color: var(--sm-secondary-color);
      border-radius: .3rem;
      @include flex_mixin(flex, center, center, null, null);

      & span {
        @include flex_mixin(flex, center, center, null, null);
        width: 18px;
        height: auto;
        & svg {
          & path, & circle {
            fill: var(--sm-base-white-color);
          }
        }
      }
    }
    & .social_field {
      flex: 1;
    }
    & .social_delete {
      display: none !important;
      align-items: center;
      @extend %sort_icon;
      width: calculateRem(30px);
      height: calculateRem(30px);
      position: relative;
      z-index: 2;
      transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
      & button {
        & svg {
          width: calculateRem(18px);
          height: calculateRem(18px);
        }
      }
    }
  }
}

//  (d) Design Tab

.section_theme {
  .template__wrapper {
    margin-bottom: calculateRem(40px);
    & .template_options {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
    }
  }
  
  .template_thumb {
    @include flex_mixin(flex, null, null, column, null);
    width: 100%;
    height: auto;
    position: relative;
    background: var(--sm-base-white-color);
    border: 1px solid rgba($base-black-color,0.1);
    overflow: hidden;
    border-radius: 0.25rem;
    & .radio-img {
      display: flex;
      width: 100%;
      height: auto;
      & > .image {
        cursor: pointer;
        aspect-ratio: 3 / 2;
      }
    }
    & .image {
      opacity: 0.8;
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-position: top center;
      background-color: gray;
      background-size: cover;
      display: inline-block;
      transition: all .2s;
      &:hover {
        opacity: 1;
      }
    }
    & .template_actions {
      @include flex_mixin(flex, space-between, center, null, 10px);
      padding: 20px;
      border-top: 1px solid rgba($base-white-color,0.4);
      & .template_title {
        &-title {
          margin: 0;
          padding: 0;
          font-size: 15px;
          font-weight: 600;
          height: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      & .active_template-btn {
        & a, span {
          display: inline-block;
          text-decoration: none;
          font-size: 13px;
          line-height: 1.8;
          min-height: 30px;
          margin: 0;
          padding: 0 10px;
          cursor: pointer;
          border-width: 1px;
          border-style: solid;
          border-radius: 3px;
          white-space: nowrap;
          box-sizing: border-box;
          background: #2271b1;
          border-color: #2271b1;
          color: var(--sm-base-white-color);
          text-shadow: none;
          vertical-align: baseline;
          transition: all .2s;
          &:hover {
            background: #135e96;
            border-color: #135e96;
            color: var(--sm-base-white-color)       }
        }
      }
    }
  }
  .activated_template {
    background-color: #141414;
    & .template_actions {
      & .template_title {
        &-title {
          color: var(--sm-base-white-color);
        }
      }
      & .active_template-btn {
        & span {
          background-color: #d7d7d8;
          border-color: #d7d7d8;
          color: #515151;
          cursor: not-allowed;
          &:hover {
            background-color: #d7d7d8;
            border-color: #d7d7d8;
            color: #515151;
          }
        }
      }
    }
  }  
}

.section_logo {
  & .background_logo_wrapper {
    margin-bottom: calculateRem(40px);
  }
}

.section_colors_fonts {
  & .description_section {
    margin-bottom: calculateRem(40px);
  }
}


//  (e) SEO tab




//  (f) Advance Tab



//  (g) Import/Export Tab

/*-----------------------------------------------
7.  Responsiveness
-----------------------------------------------*/

@media screen and (max-width: 1536px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  .template_thumb {
    & .radio-img {
      height: 210px;
    }
    & .image {
      height: 210px;
    }
  }
}
