//--------------------------------------------------
// Base Structure
//--------------------------------------------------

.site_mode__wrap {
    & > h1 {
      margin: 0;
      margin-bottom: calculateRem(15px);
      padding: 0;
    }

    &--cover {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: calculateRem(30px);

      &-content {
        &-nav {
          @include flex_mixin(flex, null, center, null, calculateRem(1px));
          & .nav-tab {
            margin-left: 0;
            border: none;
          }
        }
        &-form {
          background-color: $base-white-color;
          padding: calculateRem(20px);
        }
      }
      &-sidebar {
        background-color: $base-white-color;
        padding: calculateRem(20px);
      }
    }
    & p.submit {
      margin: 0;
      padding: 0;
    }
}

//--------------------------------------------------
// Form Layout
//--------------------------------------------------

.option__row {
  display: flex;
  margin-bottom: calculateRem(30px);
  &:last-child {
    margin-bottom: 0;
  }
  &--label {
    width: calculateRem(200px);
    & span {
      font-weight: 600;
    }
  }

  &--field {
    flex: 1;
  }
}

//--------------------------------------------------
// Utilities
//--------------------------------------------------

.screen-reading {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.label_top {
  & label {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    font-size: $form-field-font-size;
  }
}

.redirect_options {
  display: none;
  align-items: start;
  gap: 2rem;
}

//--------------------------------------------------
// Buttons
//--------------------------------------------------

.um_btn {
  background: $btn-bg-color !important;
  border-color: $btn-border-color !important;
  border-width: $btn-border-width !important;
  color: $base-white-color !important;
  padding: $btn-padding !important;
  border-radius: $btn-radius !important;
  font-size: $btn-font-size !important;
  line-height: $btn-line-height !important;
  width: auto !important;
  height: auto !important;

  &:hover {
    background-color: darken($btn-bg-color, 3) !important;
    border-color: darken($btn-bg-color, 3) !important;
  }
}

.um_btn_outline {
  background: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $base-white-color !important;
  padding: $btn-padding !important;
  border-radius: $btn-radius !important;
  font-size: $btn-font-size !important;
  line-height: $btn-line-height !important;
  width: auto !important;
  height: auto !important;

  &:hover {
    background-color: darken($btn-bg-color, 3) !important;
    border-color: darken($btn-bg-color, 3) !important;
  }
}

.normal_btn {
  position: relative;
  width: auto !important;
  height: auto !important;
  display: inline-block;
  background: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $base-white-color !important;
  width: auto !important;
  height: auto !important;

  &:hover {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $base-white-color !important;
  }
}

.submit_button {
  & input {
    @extend .um_btn;
  }
}

//--------------------------------------------------
// General Tab
//--------------------------------------------------

.login_url_field {
  //display: none;
}

//--------------------------------------------------
// Social Media Tab
//--------------------------------------------------

// Social Media Tab
.hide_socialmedia {
  display: none;
}
.disable_media_input {
  background-clip: padding-box;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #e9ecef !important;
  pointer-events: none;
}
.social_media_field_wrapper {
  @include flex_mixin(flex, null, center, null, 10px);
  & .um_checkbox_wrapper {
    margin-bottom: 0;
    margin-top: -2px;
  }
}
.socialmedia__wrapper {
  & ul {
    & .disable_media {
      opacity: 0.5;
    }
  }
  & .social_media_field {
    @include flex_mixin(flex, null, center, null, 5px);
    margin-bottom: 10px;
    & button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    & %sort_icon {
      & svg {
        & path {
          fill: $secondary-color;
        }
      }
    }
    & .sortable_icon {
      margin-right: 10px;
      @extend %sort_icon;
      & span {
        cursor: ns-resize;
        & svg {
          width: 16px;
          & path {
            fill: rgba($secondary-color,0.8);
          }
        }
      }
    }
    & .social_icon {
      border: 1px solid $secondary-color;
      width: 28px;
      height: 28px;
      background-color: $secondary-color;
      border-radius: .3rem;
      @include flex_mixin(flex, center, center, null, null);

      & span {
        @include flex_mixin(flex, center, center, null, null);
        width: 18px;
        height: auto;
        & svg {
          & path, & circle {
            fill: $base-white-color;
          }
        }
      }
    }
    & .social_delete {
      display: flex;
      align-items: center;
      @extend %sort_icon;
      width: 30px;
      height: 30px;
      position: relative;
      z-index: 2;
      transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
      & button {
        & svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

//--------------------------------------------------
// Design Tab
//--------------------------------------------------

.template__wrapper {
  & .template_options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}

.template_thumb {
  @include flex_mixin(flex, null, null, column, null);
  width: 100%;
  height: auto;
  position: relative;
  background: $base-white-color;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  & .radio-img {
    display: flex;
    width: 100%;
    height: auto;
    & > .image {
      cursor: pointer;
      aspect-ratio: 3 / 2;
    }
  }
  & .image {
    opacity: 0.8;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: gray;
    background-size: cover;
    display: inline-block;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
  & .template_actions {
    @include flex_mixin(flex, space-between, center, null, 10px);
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0.4);
    & .template_title {
      &-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 600;
        height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    & .active_template-btn {
      & a, span {
        display: inline-block;
        text-decoration: none;
        font-size: 13px;
        line-height: 1.8;
        min-height: 30px;
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        white-space: nowrap;
        box-sizing: border-box;
        background: #2271b1;
        border-color: #2271b1;
        color: $base-white-color;
        text-shadow: none;
        vertical-align: baseline;
        transition: all .2s;
        &:hover {
          background: #135e96;
          border-color: #135e96;
          color: $base-white-color       }
      }
    }
  }
}
.activated_template {
  background-color: #141414;
  & .template_actions {
    & .template_title {
      &-title {
        color: $base-white-color;
      }
    }
    & .active_template-btn {
      & span {
        background-color: #d7d7d8;
        border-color: #d7d7d8;
        color: #515151;
        cursor: not-allowed;
        &:hover {
          background-color: #d7d7d8;
          border-color: #d7d7d8;
          color: #515151;
        }
      }
    }
  }
}

//--------------------------------------------------
// Content Tab
//--------------------------------------------------

.image_logo_wrapper {
  & a {
    display: block;
  }
}

.bg-image-upload {
  display: block;
  height: auto;
  margin-bottom: 20px;
  & .image_display {
    position: relative;
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  .image_display & {
    background-color: red !important;
  }
}

.logo-upload {
  display: block;
  height: auto;
  margin-bottom: 20px;
  & .image_logo_display {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.button.bg-image-upload, .button.logo-upload {
  @extend .um_btn_outline;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}


.logo_type_wrapper {
  @include flex_mixin(flex, null, center, null, 10px);
}
.text_logo_wrapper {
  margin-top: calculateRem(20px);
}

.image_logo_wrapper, .text_logo_type {
  display: none;
  margin-top: calculateRem(20px);
}

.description_editor {
  width: 60%;
}

// .display_bg_img {
//   position: relative;
//   max-width: 400px;
//   max-height: 250px;
//   width: 100%;
//   height: 100%;
//   margin-bottom: 15px;
//   overflow: hidden;
//   & .bg-image-upload {
//     width: 100%;
//     height: 100%;
//     & img {
//       width: 100%;
//       height: 100%;
//       display: block;
//     }
//   }
//   & .image_btn {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100% !important;
//     height: 100% !important;
//     z-index: 99;
//     display: block;
//     background: transparent !important;
//     margin-bottom: 0 !important;
//     &:hover {
//       background-color: transparent !important;
//     }
//   }
// }

//--------------------------------------------------
// Responsive
//--------------------------------------------------

@media screen and (max-width: 1536px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .template__wrapper {
    & .template_options {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  .template_thumb {
    & .radio-img {
      height: 210px;
    }
    & .image {
      height: 210px;
    }
  }
}
