//--------------------------------------------------------------------------
// Mixin for convert font-size px to rem with fallback property
//--------------------------------------------------------------------------
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Box Shadow mixin
@mixin box-shadow($x-axis: 0, $y-axis: 0, $blur: 0, $spread: $border-width, $color: rgba($primary-color, 0.5)) {
  box-shadow: $x-axis $y-axis $blur $spread $color;
}

// Border Mixin
@mixin border($direction, $width, $style, $color) {
  @if $direction == null {
    border: $width $style $color;
  } @else {
    border-#{$direction}: $width $style $color;
  }
}

// Mixin for basic flex
@mixin flex_mixin($display, $x, $y, $direction, $gap) {
  display: $display;
  align-items: $y;
  justify-content: $x;
  flex-direction: $direction;
  gap: $gap;
}