//-------------------------------------------
//Site Mode Sass structure
//    1. General Variables
//    2. Colors Variables
//    3. Colors Array for root css variables
//    4. Buttons variables
//    5. Transition variables
//    6. Borders variables
//    7. Checkbox/Radio variables
//    8. Form fields variables
//--------------------------------------------

//  1. General variables
$base-font-family: 'Open Sans', sans-serif !default;
$base-html-font: 62.5%;

//  2. Colors variables
$primary-color: #6F73D2 !default;
$secondary-color:  #202020 !default;
$base-white-color: #ffffff !default;
$base-black-color: #141414 !default;
$error-color: #dc3545 !default;
$success-color: #28a745 !default;

// 3. Colors Array for root css variables
$colors: (
    'primary-color': $primary-color,
    'secondary-color': $secondary-color,
    'base-white-color': $base-white-color,
    'base-black-color': $base-black-color,
    'toast-base-color': $primary-color,
    'toast-icon-bg': $secondary-color,
    'toast-text-color': $base-white-color,
    'toast-error-color': $error-color,
    'button-bg-color': $primary-color,
    'button-border-color': $primary-color,    
) !default;

$font-families: (
    'open-sans': $base-font-family,
) !default;

//  4. Buttons variables
$btn-bg-color: $primary-color;
$btn-border-color: $primary-color;
$btn-border-width: 1px;
$btn-padding: 0.4rem 1.5rem 0.5rem 1.5rem;
$btn-radius: 0.2rem;
$btn-font-size: 0.6rem;
$btn-line-height: 1.5;

//  5. Transition variables
$transition-all: all 0.2s;

//  6. Borders variables
$border-width: 1px;
$border-radius-50: 50%;


//  7. Checkbox/Radio variables
$checkbox-width-height: 19px;
$checkbox-width-before: $checkbox-width-height;
$checkbox-height-before: $checkbox-width-height;
$checkbox-width-after: $checkbox-width-height;
$checkbox-height-after: $checkbox-width-height;
$checkbox-mark-top: $border-width + 3;
$padding-top-bottom: $checkbox-width-height / 3;
$padding-left-right: $checkbox-width-height + 20px;

//  8. Form fields variables
$input-bottom-spacing: 1.5rem;
$width: 2.5rem;
$height: $width/2;
$form-fields-width: 20rem;
$form-fields-height: 3rem;
$form-field-border-radius: .25rem;
$form-field-padding: 0 1em;
$form-field-font-size: 14px;
$outline-width: $border-width;