$prefix: 'um';

// Base variables
$base-font-family: 'Open Sans', sans-serif;
$base-html-font: 62.5%;

// Colors variables
$primary-color: #6F73D2;
$secondary-color:  #202020;
$white-color: #ffffff;
$black-color: #141414;

// Button Variables
$btn-bg-color: $primary-color;
$btn-border-color: $primary-color;
$btn-border-width: 1px;
$btn-padding: 0.6rem 1.5rem;
$btn-radius: 0.5rem;
$btn-font-size: 1.4rem;
$btn-line-height: 1.5;


// Transitions variables
$transition-all: all 0.2s;

// Border Variables
$border-width: 1px;
$border-radius-50: 50%;


// Checkbox
$checkbox-width-height: 19px;
$checkbox-width-before: $checkbox-width-height;
$checkbox-height-before: $checkbox-width-height;
$checkbox-width-after: $checkbox-width-height;
$checkbox-height-after: $checkbox-width-height;
$checkbox-mark-top: $border-width + 3;
$padding-top-bottom: $checkbox-width-height / 3;
$padding-left-right: $checkbox-width-height + 20px;

// Form Field Variables
$input-bottom-spacing: 1.5rem;
$width: 2.5em;
$height: $width/2;
$form-fields-width: 20em;
$form-fields-height: 3em;
$form-field-border-radius: .25em;
$form-field-padding: 0 1em;
$form-field-font-size: 14px;
$outline-width: $border-width;

