/* --------------------------------------
  1.  General Styling
  2.  Wizard Header
---------------------------------------*/
@import './wizard/variables';
@import './dashboard/functions';
@import './dashboard/mixins';
@import './wizard/color-scheme';
@import './wizard/general';
@import './wizard/header';
@import "./wizard/wizard-start";
@import './wizard/templates';
@import './wizard/template-import';
@import './wizard/checkbox-toggle';
@import './wizard/tooltip';
@import './wizard/select';
@import './wizard/modal';
@import './wizard/button';
@import './wizard/loader';