/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="site-mode/subscribe-form"] {
  //display: flex;
  //align-items: flex-start;
  //justify-content: flex-start;
	& form {
	  width: 100%;
	  & .subscribe__form {
		display: flex;
		align-items: flex-end;
		gap: 0.7rem;
		@media screen and (max-width: 767px) {
		  flex-wrap: wrap;
		}
		& input {
		  display: block;
		  width: 100%;
		  padding: 0.5rem;
		  border: 1px solid transparent;
		  border-radius: 0.25rem;
		  font-size: 0.9rem;
		  line-height: 1.7;
		  box-sizing: border-box;
		  min-height: 100%;
		  height: 100%;
		}
		label {
		  display: block;
		  margin-bottom: 0.5rem;
		  font-size: 0.8rem;
		  font-weight: 600;
		}
		& > div {
		  width: 38%;
		  @media screen and (max-width: 767px) {
			width: 100%;
		  }
		}

		& .login-submit {
		  flex: 1;
		  & input {
			width: 100% !important;
			font-size: 0.9rem;
			line-height: 1.7;
			min-height: 52px;
		  }
		}

	  }
	}
}

.maintenance__bg .wp-block-cover__image-background {
  background-size: 40% 100% !important;
  filter: blur(2px);
  background-position: left;
  width: 36%;
}
