/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.sm__subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &-form {
	width: 100%;
	&--field {
	  margin-bottom: 0.5rem;
	  label {
		display: block;
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
		font-weight: 600;
	  }
	  input {
		display: block;
		padding: 0.5rem;
		width: 100%;
		min-height: 30px;
		font-size: 0.9rem;
		line-height: 1.7;
		&:focus {
		  outline: none;
		}
	  }
	  & .submit_subscribe {
		cursor: pointer !important;
		width: auto !important;
		font-size: 0.9rem !important;
		line-height: 1.7 !important;
	  }
	}
  }
}

