/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.sm__subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &-form {
	width: 100%;
	display: flex;
	align-items: flex-end;
	gap: 0.7rem;
	@media screen and (max-width: 767px) {
	  flex-wrap: wrap;
	}
	&--field {
	  &:not(:last-child) {
		width: 38%;
	  }
	  &:last-child {
		flex: 1;
		& input {
		  width: 100% !important;
		}
	  }
	  label {
		display: block;
		margin-bottom: 0.5rem;
		font-size: 0.8rem;
		font-weight: 600;
	  }
	  input {
		display: block;
		width: 100%;
		padding: 0.5rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		font-size: 0.9rem;
		line-height: 1.7;
		box-sizing: border-box;
		min-height: 100%;
		height: 100%;
		&:focus {
		  outline: none;
		}
		& label {
		  display: block;
		  margin-bottom: 0.5rem;
		  font-size: 0.8rem;
		  font-weight: 600;
		}
		&.sm_error_field {
		  border: 1px solid #B00020 !important;
		}
	  }
	  & .submit_subscribe {
		cursor: pointer !important;
		width: auto !important;
		font-size: 0.9rem !important;
		line-height: 1.7 !important;
	  }
	}
  }
  & .subscribe_error {
	width: 100%;
	background-color: #f8d7da;
	color: #721c24;
	padding: 0.75rem 1.25rem;
	border: 1px solid #f5c6cb;
	border-radius: 0.25rem;
	margin: 0 0 1rem 0;
	font-size: 0.9rem;
	line-height: 1.7;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
	&.remove_error {
	  transition: all 0.3s ease-in-out;
	}
  }
  & .sub_field_error {
	box-sizing: border-box;
	width: 100%;
	background-color: transparent;
	padding: 0;
	margin: 0.8rem 0 0.8rem 0;
	color: #B00020;
	transition: all 0.3s ease-in-out;
	font-size: 0.8rem;
  }
  & .sm_submit_success {
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.7;
  }
}

.maintenance__bg.wp-block-cover .wp-block-cover__image-background {
  background-size: 40% 100% !important;
  filter: blur(2px);
  background-position: left;
  width: 36%;
}

