:root {
    --wp--preset--color--base: #e8c2ca !important;
    --wp--preset--color--primary: #7400b8 !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #b392ac !important;
    --wp--preset--color--tertiary: #d1b3c4 !important;
}