:root {
    --wp--preset--color--base: #f4f3ee !important;
    --wp--preset--color--primary: #ef476f !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #8a817c !important;
    --wp--preset--color--tertiary: #bcb8b1 !important;
}