:root {
    --wp--preset--color--base: #532b88 !important;
    --wp--preset--color--primary: #532b88 !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #e2711d !important;
    --wp--preset--color--tertiary: #ff9505 !important;
}