:root {
    --wp--preset--color--base: #31572c !important;
    --wp--preset--color--primary: #31572c !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #586f7c !important;
    --wp--preset--color--tertiary: #b8dbd9 !important;
}