:root {
    --wp--preset--color--base: #f0ebd8 !important;
    --wp--preset--color--primary: #1e88e5 !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #1d2d44 !important;
    --wp--preset--color--tertiary: #3e5c76 !important;
}