:root {
    --wp--preset--color--base: #0fa3b1 !important;
    --wp--preset--color--primary: #0fa3b1 !important;
    --wp--preset--color--contrast: #000000 !important;
    --wp--preset--color--secondary: #a4c3b2 !important;
    --wp--preset--color--tertiary: #cce3de !important;
}