/*------------------------------------------------
Plugin general styling 
  1.  CSS root variables
  2.  Utilities
  3.  Base structure classes
  4.  Form Layout
  5.  Buttons
  6.  Tabs
      (a) General Tab
      (b) Content Tab
      (c) Social Media Tab
      (d) Design Tab
      (e) SEO tab
      (f) Advance Tab
      (g) Import/Export Tab
  7.  Responsiveness
------------------------------------------------*/
/*-----------------------------------------------
1.  CSS root variables
-----------------------------------------------*/
:root {
	--sm-primary-color: #6F73D2;
	--sm-secondary-color: #202020;
	--sm-base-white-color: #ffffff;
	--sm-base-black-color: #141414;
	--sm-toast-base-color: #6F73D2;
	--sm-toast-icon-bg: #202020;
	--sm-toast-text-color: #ffffff;
	--sm-toast-error-color: #dc3545;
	--sm-button-bg-color: #6F73D2;
	--sm-button-border-color: #6F73D2;
	--sm-open-sans: Open Sans, sans-serif;
}

/*-----------------------------------------------
2.  Utilities
-----------------------------------------------*/
.screen-reading {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.redirect_options {
	align-items: start;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.mb-15 {
	margin-bottom: 0.9375rem;
}

.hide_socialmedia, .hide_field, .sm_hide_field {
	display: none;
}

/*-----------------------------------------------
3.  Base structure classes
-----------------------------------------------*/
body {
	font-size: 16px !important;
}

.site_mode__wrap > h1 {
	margin: 0;
	margin-bottom: 0.9375rem;
	padding: 0;
}

.site_mode__wrap--cover {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1.875rem;
}

.site_mode__wrap--cover-sidebar {
	background-color: var(--sm-base-white-color);
	padding: 1.25rem;
}

.site_mode__wrap p.submit {
	margin: 0;
	padding: 0;
}

.site_mode__wrap-form {
	background-color: var(--sm-base-white-color);
	padding: 2.5rem 1.25rem 1.25rem 1.25rem;
}

.section__wrapper .section__wrapper-header .section_title {
	margin-bottom: 1.875rem;
}

.section__wrapper .section__wrapper-header .section_title-title {
	margin: 0;
	padding: 0;
}

.section__wrapper .section__wrapper-content {
	padding-bottom: 1.875rem;
	border-bottom: 0.0625rem solid rgba(32, 32, 32, 0.1);
	margin-bottom: 1.875rem;
}

.section__wrapper:last-child .section__wrapper-content {
	border-bottom: none;
	margin-bottom: 0;
}

/*-----------------------------------------------
4.  Form Layout
-----------------------------------------------*/
.option__row {
	display: flex;
	gap: 1.875rem;
	margin-bottom: 2.5rem;
}

.option__row:last-child {
	margin-bottom: 0;
}

.option__row--label {
	width: 18.75rem;
}

.option__row--label span {
	display: block;
	font-weight: 400;
}

.option__row--label span label {
	font-weight: 400;
}

.option__row--label span.info_text {
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
}

.option__row--field {
	flex: 1;
}

.option__row--field .role_checkbox {
	margin-bottom: 1.5rem;
}

/*-----------------------------------------------
5.  Buttons
-----------------------------------------------*/
.btn_primary {
	background: var(--sm-button-bg-color);
	border-color: var(--sm-button-border-color);
	border-width: 1px;
	border-style: solid;
	color: var(--sm-base-white-color);
	padding: 0.5rem 1.5rem 0.625rem 1.5rem;
	border-radius: 0.2rem;
	font-size: 1rem;
	line-height: 1.5;
	width: auto;
	height: auto;
	text-decoration: none;
	display: block;
	text-align: center;
	cursor: pointer;
}

.btn_primary:hover, .btn_primary:focus {
	background-color: var(--sm-primary-color);
	border-color: var(--sm-primary-color);
	color: var(--sm-base-white-color);
}

.btn_outline, .choose-btn, .button.bg-image-upload, .button.logo-upload {
	background: transparent;
	border-color: var(--sm-secondary-color);
	color: var(--sm-secondary-color);
	padding: 0.3rem 1.5rem 0.4rem 1.5rem;
	border-radius: 0.2rem;
	font-size: 0.8rem;
	line-height: 1.5;
	min-width: 8.5rem;
	width: auto;
	height: auto;
	transition: all .2s;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
}

.btn_outline:hover, .choose-btn:hover, .button.bg-image-upload:hover, .button.logo-upload:hover, .btn_outline:focus, .choose-btn:focus, .button.bg-image-upload:focus, .button.logo-upload:focus {
	background-color: #181818;
	border-color: #181818;
	color: var(--sm-base-white-color);
}

.normal_btn {
	position: relative;
	width: auto;
	height: auto;
	display: inline-block;
	background: var(--sm-secondary-color);
	border-color: var(--sm-secondary-color);
	color: var(--sm-base-white-color);
	width: auto;
	height: auto;
}

.normal_btn:hover, .normal_btn:focus {
	background-color: var(--sm-primary-color);
	border-color: var(--sm-primary-color);
	color: var(--sm-base-white-color);
}

.btn_secondary {
	background-color: var(--sm-secondary-color);
	border-color: var(--sm-secondary-color);
	color: var(--sm-base-white-color);
	border-width: 1px;
	border-style: solid;
}

.btn_secondary:hover, .btn_secondary:focus {
	background-color: var(--sm-primary-color);
	border-color: var(--sm-primary-color);
	color: var(--sm-base-white-color);
}

.btn_ghost {
	background-color: transparent;
	border-color: var(--sm-secondary-color);
	color: var(--sm-secondary-color);
	border-width: 1px;
	border-style: solid;
}

.btn_ghost:hover, .btn_ghost:focus {
	background-color: var(--sm-primary-color);
	border-color: var(--sm-primary-color);
	color: var(--sm-base-white-color);
}

.btn_sm {
	padding: 0.25rem 1rem 0.375rem 1rem;
	font-size: 0.75rem;
	line-height: 1;
}

.btn_white {
	background-color: var(--sm-base-white-color);
	border-color: rgba(20, 20, 20, 0.15);
	color: var(--sm-base-black-color);
}

.btn_white:hover, .btn_white:focus {
	color: var(--sm-base-white-color);
}

.submit_button input {
	background: var(--sm-button-bg-color) !important;
	border-color: var(--sm-button-border-color) !important;
	border-width: 1px !important;
	color: var(--sm-base-white-color) !important;
	padding: 0.3rem 1.5rem 0.4rem 1.5rem !important;
	border-radius: 0.2rem !important;
	font-size: 1rem !important;
	line-height: 1.5 !important;
	width: auto !important;
	height: auto !important;
	text-decoration: none !important;
	display: block !important;
	text-align: center !important;
}

.submit_button input:hover, .submit_button input:focus {
	background-color: #6368ce !important;
	border-color: #6368ce !important;
}

input[type=file] {
	display: none;
}

.choose-btn {
	min-width: auto;
	width: auto;
	border-width: 1px;
	border-style: solid;
}

/*-----------------------------------------------
6.  Tabs
-----------------------------------------------*/
.login_url_field {
	margin-bottom: 1.5rem;
}

.image_logo_wrapper a {
	display: block;
}

.bg-image-upload {
	display: block;
	height: auto;
	margin-bottom: 20px;
}

.bg-image-upload .image_display {
	position: relative;
	max-width: 400px;
	max-height: 250px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg-image-upload .image_display img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.logo-upload {
	display: block;
	height: auto;
	margin-bottom: 20px;
}

.logo-upload .image_logo_display {
	position: relative;
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.logo-upload .image_logo_display img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.button.bg-image-upload:focus, .button.logo-upload:focus {
	outline: none !important;
	box-shadow: none !important;
}

.logo_type_wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.image_logo_wrapper, .text_logo_wrapper {
	display: none;
	margin-bottom: 2.5rem;
}

.description_editor {
	width: 60%;
}

.disable_media_input {
	background-clip: padding-box;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background-color: #e9ecef !important;
	pointer-events: none;
}

.social_media_field_wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.social_media_field_wrapper .um_checkbox_wrapper {
	margin-bottom: 0;
	margin-top: -2px;
}

.socialmedia__wrapper ul .disable_media {
	opacity: 0.5;
}

.socialmedia__wrapper .social_media_field {
	display: grid;
	grid-template-columns: 16px 32px 1fr;
	align-items: center;
	grid-gap: 10px;
	margin-bottom: 10px;
}

.socialmedia__wrapper .social_media_field button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.socialmedia__wrapper .social_media_field .sortable_icon svg path, .socialmedia__wrapper .social_media_field .social_delete svg path {
	fill: var(--sm-secondary-color);
}

.socialmedia__wrapper .social_media_field .sortable_icon {
	margin-right: 10px;
}

.socialmedia__wrapper .social_media_field .sortable_icon span {
	cursor: ns-resize;
}

.socialmedia__wrapper .social_media_field .sortable_icon span svg {
	width: 16px;
}

.socialmedia__wrapper .social_media_field .sortable_icon span svg path {
	fill: rgba(32, 32, 32, 0.8);
}

.socialmedia__wrapper .social_media_field .social_icon {
	border: 1px solid var(--sm-secondary-color);
	width: 30px;
	height: 30px;
	background-color: var(--sm-secondary-color);
	border-radius: .3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialmedia__wrapper .social_media_field .social_icon span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: auto;
}

.socialmedia__wrapper .social_media_field .social_icon span svg path, .socialmedia__wrapper .social_media_field .social_icon span svg circle {
	fill: var(--sm-base-white-color);
}

.socialmedia__wrapper .social_media_field .social_field {
	flex: 1;
}

.socialmedia__wrapper .social_media_field .social_delete {
	display: none !important;
	align-items: center;
	width: 1.875rem;
	height: 1.875rem;
	position: relative;
	z-index: 2;
	transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.socialmedia__wrapper .social_media_field .social_delete button svg {
	width: 1.125rem;
	height: 1.125rem;
}

.section_theme .template__wrapper {
	margin-bottom: 2.5rem;
}

.section_theme .template__wrapper .template_options {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.25rem;
}

.section_theme .template_card {
	border: 1px solid rgba(20, 20, 20, 0.15);
	position: relative;
	transition: all .2s;
	cursor: pointer;
	overflow: hidden;
	border-radius: 0.25rem;
}

.section_theme .template_card-image {
	width: 100%;
	overflow: hidden;
	height: 12rem;
	border-bottom: 1px solid rgba(20, 20, 20, 0.15);
	position: relative;
}

.section_theme .template_card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section_theme .template_card-content {
	padding: 0.9375rem;
	line-height: 1;
}

.section_theme .template_card-content--title {
	margin: 0;
	padding: 0;
	font-size: 0.9375rem;
	color: rgba(32, 32, 32, 0.8);
}

.section_theme .template_card-actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all .2s;
}

.section_theme .template_card-actions a {
	pointer-events: none;
	position: relative;
	z-index: 10;
}

.section_theme .template_card-actions::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(32, 32, 32, 0.9);
}

.section_theme .template_card:hover .template_card-actions {
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.section_theme .template_card:hover .template_card-actions a {
	pointer-events: initial;
}

.section_theme .template_card.active_template {
	background-color: #141414;
}

.section_theme .template_card.active_template .template_card-image {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.section_theme .template_card.active_template .template_card-content--title {
	color: var(--sm-base-white-color);
}

.section_logo .background_logo_wrapper {
	margin-bottom: 2.5rem;
}

.section_colors_fonts .description_section {
	margin-bottom: 2.5rem;
}

.section_social_icons .social_icon_section {
	margin-bottom: 2.5rem;
}

.upload_file_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.upload_file_wrapper .file_name {
	font-size: 0.8rem;
	line-height: 1;
}

.mobile_menu {
	display: none;
}

/*-----------------------------------------------
7.  Responsiveness
-----------------------------------------------*/
@media screen and (max-width: 1536px) {
	.template__wrapper .template_options {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
	}
}

@media screen and (max-width: 767px) {
	.option__row {
		flex-direction: column;
		gap: 10px;
	}
	.site_mode__wrap--cover {
		grid-template-columns: repeat(1, 1fr);
	}
	.sm_textarea_cover textarea {
		width: 100% !important;
	}
	.description_editor {
		width: 100% !important;
	}
	.template__wrapper .template_options {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-gap: 20px !important;
	}
	.mobile_menu {
		text-align: center;
		min-width: auto;
		width: auto;
		padding: 0.2rem 0.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		background: var(--sm-secondary-color);
		color: var(--sm-base-white-color);
		padding: 0.8rem;
	}
	.mobile_menu svg path {
		fill: var(--sm-base-white-color);
	}
	.sm_tabs {
		display: none !important;
	}
	.active_tabs {
		display: block !important;
	}
	.active_tabs .sm_tabs-link {
		justify-content: flex-start;
	}
	.logo_type_wrapper {
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	.logo_type_wrapper .radio_wrapper {
		width: 33%;
	}
}

.sm_checkbox_wrapper {
	position: relative;
}

.sm_checkbox_wrapper label {
	padding: 0 39px;
	height: 20px;
	display: inline-flex;
	align-items: center;
	font-size: 14px;
}

.sm_checkbox_wrapper input {
	height: 19px;
	width: 19px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}

.sm_checkbox_wrapper input::before {
	display: none;
}

.sm_checkbox_wrapper input + label::before {
	border: 1px solid var(--sm-secondary-color);
	content: "";
	height: 19px;
	width: 19px;
	left: 0;
	position: absolute;
	top: 0;
	border-radius: 0.25rem;
}

.sm_checkbox_wrapper input + label::after {
	content: "\2713";
	opacity: 0;
	font-size: 15px;
	font-weight: 700;
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	border: 1px solid transparent;
}

.sm_checkbox_wrapper input:checked + label::before {
	background-color: var(--sm-primary-color);
	border-color: var(--sm-primary-color);
}

.sm_checkbox_wrapper input:checked + label::after {
	opacity: 1;
	color: var(--sm-base-white-color);
}

.sm_checkbox_wrapper input:focus + label::before {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	outline: 1px solid transparent;
}

.um_checkbox_show_hide {
	margin-bottom: 0 !important;
	height: 100%;
	width: 100%;
}

.um_checkbox_show_hide label {
	padding: 0;
}

.um_checkbox_show_hide input + label::before {
	content: '' !important;
	background-image: url("../../admin/img/show-regular-24.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	background-color: transparent;
	border: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.um_checkbox_show_hide input + label::after {
	content: "" !important;
	background-image: url("../../admin/img/hide-regular-24.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding: 0;
	background-color: transparent;
	border: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.um_checkbox_show_hide input:checked + label::before {
	background-color: transparent;
	border-color: transparent;
}

.radio_wrapper {
	position: relative;
}

.radio_wrapper input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.radio_wrapper label {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	font-weight: 500;
	z-index: 20;
}

.radio_wrapper .check {
	display: block;
	position: absolute;
	border: 1px solid #AAAAAA;
	border-radius: 100%;
	height: 1.25rem;
	width: 1.25rem;
	top: 0;
	left: 0;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio_wrapper .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 0.875rem;
	width: 0.875rem;
	top: 0.1875rem;
	left: 0.1875rem;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.radio_wrapper input[type=radio]:checked ~ .check {
	border: 1px solid var(--sm-primary-color);
}

.radio_wrapper input[type=radio]:checked ~ .check::before {
	background: var(--sm-primary-color);
}

.radio_wrapper input[type=radio]:checked ~ label {
	color: var(--sm-primary-color);
}

.logo_radio_wrapper label {
	padding-left: 40px;
	padding-right: 40px;
	font-weight: 300;
}

.sm_select {
	position: relative;
	display: flex;
	width: 20rem;
	height: 3rem;
	line-height: 3;
	background: var(--sm-base-white-color);
	border-radius: 0.25rem;
}

.sm_select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 1px solid var(--sm-secondary-color) !important;
	background: var(--sm-base-white-color);
	background-image: none;
	flex: 1;
	padding: 0 3rem 0 1rem;
	color: black;
	cursor: pointer;
	font-size: 14px;
	font-family: var(--sm-open-sans);
	max-width: 100%;
	width: 100%;
}

.sm_select select::-ms-expand {
	display: none;
}

.sm_select select:hover {
	color: var(--sm-secondary-color);
}

.sm_select select:focus {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	border: 1px solid var(--sm-primary-color) !important;
	outline: 1px solid transparent;
}

.sm_select .arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--sm-secondary-color);
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	transition: all 0.2s;
	cursor: pointer;
	pointer-events: none;
}

.sm_select:hover {
	color: var(--sm-secondary-color);
	opacity: 1;
}

.sm_select:hover .arrow-down {
	border-top: 5px solid var(--sm-primary-color);
}

.select2, .select2-selection {
	height: 100% !important;
}

.select2-selection__choice {
	line-height: 1.3;
	font-size: 0.875rem;
	background-color: var(--sm-base-black-color) !important;
	border: 1px solid black !important;
	color: #ffffff;
}

.select2-selection__choice__remove {
	border-radius: 0 !important;
	color: var(--sm-base-white-color) !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	border-right-color: rgba(255, 255, 255, 0.3) !important;
}

.select2-selection__choice__remove:hover {
	background-color: transparent !important;
}

.select2-selection__choice__remove span {
	line-height: 1.1 !important;
}

.select2-container--default .select2-selection--multiple {
	border-color: 1px solid var(--sm-secondary-color) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	border: 1px solid var(--sm-primary-color) !important;
	outline: 1px solid transparent !important;
}

.sm_input_cover input[type="text"], .sm_input_cover input.number[type="number"] {
	width: 20rem;
	height: 3rem;
	line-height: 3;
	background: var(--sm-base-white-color);
	border: 1px solid var(--sm-secondary-color);
	border-radius: 0.25rem;
	padding: 0 1em;
	font-size: 14px;
	font-family: var(--sm-open-sans);
}

.sm_input_cover input[type="text"]:active, .sm_input_cover input[type="text"]:hover, .sm_input_cover input[type="text"]:focus-visible, .sm_input_cover input.number[type="number"]:active, .sm_input_cover input.number[type="number"]:hover, .sm_input_cover input.number[type="number"]:focus-visible {
	border-color: var(--sm-primary-color);
}

.sm_input_cover input[type="text"]:focus, .sm_input_cover input.number[type="number"]:focus {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	outline: 1px solid transparent;
}

.um_toggle {
	margin-bottom: 1rem;
	display: block;
}

.um_toggle .toggle-control {
	transition: all 0.2s;
	width: 2.5rem;
	height: 1.25rem;
	display: block;
	border: 2px solid var(--sm-secondary-color);
	border-radius: 1.25rem;
	background-color: var(--sm-secondary-color);
	position: relative;
	cursor: pointer;
}

.um_toggle .toggle-control:after {
	transition: all 0.2s;
	content: "";
	width: 1.25rem;
	height: 1.25rem;
	display: block;
	background-color: var(--sm-base-white-color);
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
}

.um_toggle input {
	display: none;
}

.um_toggle input:checked + .toggle-control {
	border-color: var(--sm-primary-color);
	background-color: var(--sm-primary-color);
}

.um_toggle input:checked + .toggle-control:after {
	left: 1.25rem;
	top: 0;
}

.sm_textarea_cover textarea {
	width: auto;
	height: auto;
	line-height: 3;
	background: var(--sm-base-white-color);
	border: 1px solid var(--sm-secondary-color);
	border-radius: 0.25rem;
	padding: 0 1em;
	font-size: 14px;
	font-family: var(--sm-open-sans);
}

.sm_textarea_cover textarea:active, .sm_textarea_cover textarea:hover, .sm_textarea_cover textarea:focus-visible {
	border-color: var(--sm-primary-color);
}

.sm_textarea_cover textarea:focus {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	outline: 1px solid transparent;
}

.label_top label {
	width: 100%;
	display: block;
	margin-bottom: 1rem;
	font-size: 14px;
}

#sm_sortable {
	margin: 0;
	max-width: 400px;
	background-color: rgba(111, 115, 210, 0.05);
	padding: 1.25rem;
	margin-bottom: 1.875rem;
}

#sm_sortable .ui-state-default .option__row {
	margin-bottom: 0.9375rem;
}

.sm_tabs {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: end;
	border-bottom: 1px solid rgba(32, 32, 32, 0.15);
}

.sm_tabs-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	background-color: var(--sm-base-white-color);
	padding: 0.875rem;
	font-size: 16px;
	font-size: 1rem;
	border-top: 1px solid rgba(32, 32, 32, 0.15);
	border-right: 1px solid rgba(32, 32, 32, 0.15);
	border-bottom: none !important;
	min-width: 5rem;
	color: rgba(32, 32, 32, 0.7);
	transition: all 0.2s;
	margin-bottom: 0;
	cursor: pointer;
}

.sm_tabs-link svg path, .sm_tabs-link svg circle {
	fill: rgba(32, 32, 32, 0.5);
}

.sm_tabs-link:first-child {
	border-left: 1px solid rgba(32, 32, 32, 0.15);
}

.sm_tabs-link.current {
	margin: 0;
	border-top: 1px solid rgba(32, 32, 32, 0.1);
	background-color: var(--sm-primary-color);
	color: var(--sm-base-white-color);
}

.sm_tabs-link.current svg path, .sm_tabs-link.current svg circle {
	fill: var(--sm-base-white-color);
}

.sm_tabs-link.current:hover {
	color: var(--sm-base-white-color);
}

.sm_tabs-link.current:hover svg path, .sm_tabs-link.current:hover svg circle {
	fill: var(--sm-base-white-color);
}

.sm_tabs-link:hover {
	color: var(--sm-base-black-color);
}

.sm_tabs-link:hover svg path, .sm_tabs-link:hover svg circle {
	fill: var(--sm-base-black-color);
}

.sm_tabs-link:focus {
	box-shadow: 0 0 0 1px rgba(111, 115, 210, 0.5);
	outline: none;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

#toast-success, #toast-error {
	visibility: hidden;
	height: auto;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 1.875rem;
}

.toast-error-msg, .toast-success-msg {
	padding: 0.6rem;
	margin: auto;
	background-color: transparent;
	color: var(--sm-base-white-color);
	border-radius: 0.4rem;
	font-size: 0.875rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.toast-error-msg .toast-icon, .toast-success-msg .toast-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.toast-error-msg .toast-icon svg path, .toast-success-msg .toast-icon svg path {
	fill: var(--sm-base-white-color);
}

.toast-error-msg .toast-description, .toast-success-msg .toast-description {
	text-align: left;
}

.toast-error-msg {
	background-color: #dc3545;
	border: 1px solid #dc3545;
	max-width: 12.5rem;
}

.toast-success-msg {
	background-color: #28a745;
	border: 1px solid #28a745;
	max-width: 12.5rem;
}

#toast-success.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

#toast-error.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}

@-webkit-keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}
