/* --------------------------------------
  1.  General Styling
  2.  Wizard Header
---------------------------------------*/
/*-----------------------------------------------------
1.  General Styling
    a.  CSS Root Variables
    b.  Hide admin controls
    c.  Remove extra margin and padding from content
    d.  Wizard General Styling
    e.  Main container
    f.  General CSS
-----------------------------------------------------*/
/*  a.   CSS Root Variables */
:root {
	--wt-primary-color: #6B4BFD;
	--wt-secondary-color: #202020;
	--wt-base-white-color: #ffffff;
	--wt-base-black-color: #333333;
	--wt-error-color: #dc3545;
	--wt-success-color: #5f3cfd;
	--wd-primary-color: #6B4BFD;
	--wd-primary-light-color: #6B4BFD;
	--wd-border-color: #eeeeee;
	--wd-bg-color: #F9F9F9;
	--wd-gray-1-color: #999999;
	--wd-gray-2-color: #CCCCCC;
	--wd-base-white-color: #ffffff;
	--wd-base-black-color: #333333;
	--wd-input-border-color: #DDDDDD;
	--wd-primar-light-color: #e1dbff;
	--wd-light-gray-1-color: #dddddd;
	--wd-light-gray-2-color: #fafafa;
}

.color-scheme-1 {
	--wt-primary-color: #6B4BFD !important;
	--wt-secondary-color: #202020 !important;
	--wt-base-white-color: #ffffff !important;
	--wt-base-black-color: #333333 !important;
	--wt-error-color: #dc3545 !important;
	--wt-success-color: #5f3cfd !important;
	--wd-primary-color: #6B4BFD !important;
	--wd-primary-light-color: #6B4BFD !important;
	--wd-border-color: #eeeeee !important;
	--wd-bg-color: #F9F9F9 !important;
	--wd-gray-1-color: #999999 !important;
	--wd-gray-2-color: #CCCCCC !important;
	--wd-base-white-color: #ffffff !important;
	--wd-base-black-color: #333333 !important;
	--wd-input-border-color: #DDDDDD !important;
	--wd-primar-light-color: #e1dbff !important;
	--wd-light-gray-1-color: #dddddd !important;
	--wd-light-gray-2-color: #fafafa !important;
}

/*  b. Hide admin controls */
.sm__wizard-mode #wpfooter,
.sm__wizard-mode #wpadminbar,
.sm__wizard-mode .notice,
.sm__wizard-mode .wrap .error,
.sm__wizard-mode .wrap .notice,
.sm__wizard-mode .wrap .updated,
.sm__wizard-mode #adminmenumain {
	display: none !important;
}

/*  c.  Remove extra margin and padding from content */
.sm__wizard-mode #wpcontent {
	padding: 0 !important;
	margin: 0 !important;
}

/*  d.  Wizard General Styling */
.sm__wizard-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	z-index: 99999;
}

/* e. Main container */
.wizard_container {
	max-width: calc(clamp(35rem, -2.607rem + 86.952vw, 75.65rem));
	width: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 540px) {
	.wizard_container {
		padding: 0 1.5rem;
		box-sizing: border-box;
	}
}

/*  f.  General CSS */
.wizard__content {
	width: 100%;
	height: 100vh;
	background-color: var(--wd-bg-color);
}

html {
	padding-top: 0 !important;
}

@media screen and (max-width: 767px) {
	.sm__wizard-mode.toplevel_page_site-mode #wpcontent {
		padding: 0 !important;
	}
}

/*-----------------------------------------------------
1.  Wizard Header
    a.  Wizard Logo
    b.  Wizard Steps
    c.  Wizard Close
-----------------------------------------------------*/
/* 1.  Wizard Header */
.sm__wizard-header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	background-color: var(--wd-base-white-color);
	border-bottom: 1px solid var(--wd-border-color);
	/* a.   Wizard Logo */
	/* b.   Wizard Steps */
	/* c.   Wizard Close */
}

@media screen and (max-width: 767px) {
	.sm__wizard-header {
		grid-template-columns: 1fr auto;
		background-color: transparent;
	}
}

.sm__wizard-header--logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: calc(clamp(1rem, 1rem + 0.391vw, 1.25rem));
	border-right: 1px solid var(--wd-border-color);
}

@media screen and (max-width: 767px) {
	.sm__wizard-header--logo {
		order: 1;
		background-color: var(--wd-base-white-color);
	}
}

.sm__wizard-header--logo img {
	display: block;
	width: calc(clamp(3.75rem, 3.741rem + 13.685vw, 12.5rem));
}

.sm__wizard-header--steps {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.sm__wizard-header--steps {
		order: 3;
		grid-column: 1 / -1;
		padding: 2rem 1rem 0rem 1rem;
	}
}

.sm__wizard-header--steps-cover {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media screen and (max-width: 767px) {
	.sm__wizard-header--steps-cover {
		gap: 0.5rem;
	}
}

.sm__wizard-header--steps-cover .sm-step {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

@media screen and (max-width: 767px) {
	.sm__wizard-header--steps-cover .sm-step {
		gap: 0.5rem;
	}
}

.sm__wizard-header--steps-cover .sm-step .step_circle {
	width: calc(clamp(1.125rem, 1.125rem + 0vw, 1.125rem));
	height: calc(clamp(1.125rem, 1.125rem + 0vw, 1.125rem));
	border: 1px solid var(--wd-gray-2-color);
	border-radius: 50%;
	position: relative;
	flex-basis: calc(clamp(1.125rem, 1.125rem + 0vw, 1.125rem));
	flex-shrink: 0;
	flex-grow: 1;
}

.sm__wizard-header--steps-cover .sm-step .step_label {
	font-weight: 600;
	color: var(--wd-gray-2-color);
	font-size: calc(clamp(0.7rem, 0.657rem + 0.381vw, 1rem));
}

.sm__wizard-header--steps-cover .sm-step .step_line {
	width: calc(clamp(1.125rem, -0.304rem + 3.81vw, 3.125rem));
	height: calc(clamp(0.063rem, 0.063rem + 0vw, 0.063rem));
	background-color: var(--wd-gray-2-color);
}

.sm__wizard-header--steps-cover .sm-step.active .step_circle {
	border-color: var(--wd-base-black-color);
}

.sm__wizard-header--steps-cover .sm-step.active .step_circle::before {
	content: '';
	width: calc(clamp(0.7rem, 0.7rem + 0vw, 0.7rem));
	height: calc(clamp(0.7rem, 0.7rem + 0vw, 0.7rem));
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--wd-base-black-color);
	border-radius: 50%;
}

.sm__wizard-header--steps-cover .sm-step.active .step_label {
	color: var(--wd-base-black-color);
}

.sm__wizard-header--steps-cover .sm-step.active .step_line {
	background-color: var(--wd-base-black-color);
}

.sm__wizard-header--close {
	padding: calc(clamp(1rem, 1rem + 0.391vw, 1.25rem));
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: calc(clamp(3.75rem, 3.748rem + 3.91vw, 6.25rem));
	border-left: 1px solid var(--wd-border-color);
	cursor: pointer;
}

.sm__wizard-header--close:hover .sm_close_wizard .close_wizard_btn svg path {
	fill: var(--wd-primary-color);
}

@media screen and (max-width: 767px) {
	.sm__wizard-header--close {
		order: 2;
		background-color: var(--wd-base-white-color);
	}
}

.sm__wizard-header--close .sm_close_wizard .close_wizard_btn {
	display: block;
}

.sm__wizard-header--close .sm_close_wizard .close_wizard_btn svg {
	display: block;
	width: calc(clamp(1.25rem, 1.249rem + 0.978vw, 1.875rem));
	height: calc(clamp(1.25rem, 1.249rem + 0.978vw, 1.875rem));
}

.wizard__content-wrapper {
	padding: calc(clamp(1rem, -1.143rem + 5.714vw, 4rem)) 0;
}

.wizard__templates-filters {
	display: flex;
	justify-content: space-between;
	margin-bottom: calc(clamp(1.5rem, 1.143rem + 0.952vw, 2rem));
	flex-wrap: wrap;
	gap: 0;
}

.wizard__templates-filter {
	flex: calc(max(400px, (100% - 20px)/3));
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 767px) {
	.wizard__templates-filter {
		justify-content: center;
	}
}

.wizard__templates-filter-cover {
	border: 1px solid var(--wd-input-border-color);
	display: flex;
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
}

.wizard__templates-filter .filter_btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: calc(clamp(0.25rem, -0.107rem + 0.952vw, 0.75rem)) calc(clamp(0.5rem, 0.143rem + 0.952vw, 1rem));
	min-width: calc(clamp(4.375rem, 2.857rem + 4.048vw, 6.5rem));
	line-height: 1;
	font-size: calc(clamp(0.825rem, 0.723rem + 0.238vw, 0.88rem));
}

@media screen and (max-width: 767px) {
	.wizard__templates-filter .filter_btn {
		padding: calc(clamp(0.8rem, -0.107rem + 0.952vw, 1rem)) calc(clamp(1.2rem, 0.143rem + 0.952vw, 1rem));
	}
}

.wizard__templates-filter .filter_btn:not(:last-child) {
	border-right: 1px solid var(--wd-input-border-color);
}

.wizard__templates-filter .filter_btn.active {
	background-color: var(--wd-base-white-color);
}

@media screen and (max-width: 767px) {
	.wizard__templates-search {
		margin-bottom: 1rem;
		width: 100%;
	}
}

.wizard__templates-form .sm_search-field {
	display: flex;
	position: relative;
	min-width: calc(clamp(15.625rem, 15.625rem + 0vw, 15.625rem));
	width: 100%;
}

.wizard__templates-form .sm_search-field input {
	height: 100%;
	width: 100%;
	background-color: var(--wd-base-white-color);
	flex: 1;
	border: 1px solid var(--wd-input-border-color);
	padding: calc(clamp(0.5rem, 0.411rem + 0.238vw, 0.625rem)) calc(clamp(0.75rem, 0.393rem + 0.952vw, 1.25rem));
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
}

.wizard__templates-form .sm_search-field input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	cursor: pointer;
}

.wizard__templates-form .sm_search-field input:focus, .wizard__templates-form .sm_search-field input:hover, .wizard__templates-form .sm_search-field input:focus-within {
	border-color: var(--wd-primary-color);
	outline: 1px solid var(--wd-primary-color);
}

.wizard__templates-form .sm_search-field button[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: calc(clamp(2.5rem, 2.946rem + -1.19vw, 1.875rem));
	height: 100%;
}

.wizard__templates-form .sm_search-field:hover button[type="submit"] svg path {
	fill: var(--wd-primary-color);
}

.wizard__templates-cards {
	display: grid;
	grid-template-columns: repeat(4, minmax(280px, 1fr));
	grid-gap: calc(clamp(1rem, 0.286rem + 1.905vw, 1.7rem));
}

@media screen and (max-width: 1536px) {
	.wizard__templates-cards {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
}

.wizard__templates-cards--single {
	background-color: var(--wd-base-white-color);
	position: relative;
	transition: all .2s;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
	overflow: hidden;
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
}

.wizard__templates-cards--single .template_card-img {
	padding-top: 75%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.wizard__templates-cards--single .template_card-heading {
	padding: calc(clamp(0.5rem, 0.143rem + 0.952vw, 1rem)) calc(clamp(0.625rem, 0rem + 1.667vw, 1.5rem));
}

.wizard__templates-cards--single .template_card-heading h2 {
	padding: 0;
	margin: 0;
	font-size: calc(clamp(0.875rem, 0.786rem + 0.238vw, 1rem));
}

.wizard__templates-cards--single .template_card-actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.7rem;
	opacity: 0;
	cursor: pointer;
	transition: all .2s;
}

.wizard__templates-cards--single .template_card-actions a, .wizard__templates-cards--single .template_card-actions button {
	border: 1px solid var(--wd-base-white-color);
	color: var(--wd-base-white-color);
	text-decoration: none;
	padding: calc(clamp(0.25rem, 0.161rem + 0.238vw, 0.375rem)) calc(clamp(0.5rem, 0.143rem + 0.952vw, 1rem));
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
	font-size: calc(clamp(0.875rem, 0.786rem + 0.238vw, 1rem));
	max-width: calc(clamp(6.25rem, 4.018rem + 5.952vw, 9.375rem));
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	transition: all .2s;
}

.wizard__templates-cards--single .template_card-actions a:hover {
	background-color: var(--wd-base-white-color);
	color: var(--wd-base-black-color);
}

.wizard__templates-cards--single .template_card-actions button {
	background-color: var(--wd-primary-color);
	border-color: var(--wd-primary-color);
	cursor: pointer;
}

.wizard__templates-cards--single:hover .template_card-actions {
	opacity: 1;
}

.body_template_importer {
	overflow: hidden;
}

.template__import {
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	min-height: calc(100vh - 93.25px);
	position: fixed;
	right: 0;
	top: 0;
}

.template__import-wrapper {
	height: calc(100% - 93.25px);
}

.template__import-cover {
	color: #ccc;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.template__import-layout {
	display: flex;
	flex-grow: 1;
	height: 100%;
	flex-direction: column;
}

@media screen and (min-width: 960px) {
	.template__import-layout {
		flex-direction: row;
	}
}

.template__import-sidebar {
	flex-shrink: 0;
	width: 100vw;
	z-index: 1;
	background-color: var(--wd-base-white-color);
	border-right: 1px solid var(--wd-border-color);
}

@media (min-width: 960px) {
	.template__import-sidebar {
		width: 360px;
	}
}

.template__import-sidebar .sidebar_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	position: relative;
}

.template__import-sidebar .sidebar_content-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	border-bottom: 1px solid var(--wd-border-color);
	padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem));
}

.template__import-sidebar .sidebar_content-header span {
	color: var(--wd-base-black-color);
}

.template__import-sidebar .sidebar_content-header span span.template__name {
	font-weight: 600;
}

.template__import-sidebar .sidebar_content-header .sm__edit-template {
	display: flex;
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
	padding: calc(clamp(0.313rem, 0.223rem + 0.238vw, 0.438rem));
	background-color: var(--wd-primar-light-color);
	border: none;
	color: var(--wd-base-black-color);
	cursor: pointer;
}

.template__import-sidebar .sidebar_content-settings {
	flex: 0 0 calc(100% - calc(clamp(6.875rem, 5.179rem + 4.524vw, 9.25rem)));
	margin-bottom: 18rem;
	overflow-y: auto;
}

@media screen and (max-width: 960px) {
	.template__import-sidebar .sidebar_content-settings {
		margin-bottom: 3.8rem;
	}
}

.template__import-sidebar .sidebar_content-settings::-webkit-scrollbar {
	width: calc(clamp(0.375rem, 0.107rem + 0.714vw, 0.75rem));
}

.template__import-sidebar .sidebar_content-settings::-webkit-scrollbar-thumb {
	background-color: var(--wd-primary-color);
	border-radius: 6px;
}

.template__import-sidebar .sidebar_content-settings::-webkit-scrollbar-thumb:hover {
	background-color: var(--wd-primary-color);
}

.template__import-sidebar .sidebar_content-settings::-webkit-scrollbar-track {
	background: var(--wd-light-gray-1-color);
	border-radius: 6px;
}

.template__import-sidebar .sidebar_content-settings::-webkit-scrollbar-track:hover {
	background: var(--wd-primar-light-color);
}

.template__import-sidebar .sidebar_content-settings .settings__card {
	border-bottom: 1px solid var(--wd-border-color);
}

.template__import-sidebar .sidebar_content-settings .settings__card-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background-color: var(--wd-light-gray-2-color);
}

.template__import-sidebar .sidebar_content-settings .settings__card-title h2 {
	margin: 0;
	font-size: calc(clamp(0.875rem, 0.786rem + 0.238vw, 1rem));
	padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem));
	flex: 1;
}

.template__import-sidebar .sidebar_content-settings .settings__card-title .sm-setting-reset {
	cursor: pointer;
	padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem));
	width: calc(clamp(1.25rem, 0.357rem + 2.381vw, 2.5rem));
	display: flex;
	align-items: center;
	justify-content: center;
}

.template__import-sidebar .sidebar_content-settings .settings__card-title .sm-setting-reset svg path {
	fill: var(--wd-base-black-color);
}

.template__import-sidebar .sidebar_content-settings .settings__card-options {
	padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem));
}

.template__import-sidebar .sidebar_content-settings .settings__card-options .settings__card-options-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.template__import-sidebar .sidebar_content-settings .settings__card-options .settings__card-options-box:not(:last-child) {
	margin-bottom: calc(clamp(0.725rem, 0.439rem + 0.762vw, 1.125rem));
}

.template__import-sidebar .sidebar_content-settings .settings__card-options--label h3 {
	margin: 0;
	padding: 0;
	font-size: calc(clamp(0.775rem, 0.757rem + 0.048vw, 0.8rem));
}

.template__import-sidebar .sidebar_content-settings .settings__card-options--label .sm__helper-text {
	font-size: calc(clamp(0.655rem, 0.623rem + 0.086vw, 0.7rem));
	color: var(--wd-base-black-color);
}

.template__import-sidebar .sidebar_content-actions {
	background-color: var(--wd-base-white-color);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem));
	border-top: 1px solid var(--wd-border-color);
	box-sizing: border-box;
}

.template__import-sidebar .sidebar_content-actions button {
	padding: calc(clamp(0.375rem, 0.196rem + 0.476vw, 0.625rem)) calc(clamp(0.875rem, 0.563rem + 0.833vw, 1.313rem));
	background-color: var(--wd-light-gray-1-color);
	border: none;
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
	cursor: pointer;
}

.template__import-sidebar .sidebar_content-actions button.import-template {
	background-color: var(--wd-primary-color);
	color: var(--wd-base-white-color);
}

.template__import-content {
	flex-grow: 1;
	position: relative;
	z-index: 2;
	background-color: var(--wd-base-white-color);
	position: relative;
}

.template__import-content--canvas {
	align-items: flex-start;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

.template__import-content--canvas iframe {
	height: 100%;
}

@media (min-width: 960px) {
	.template__import-content--canvas {
		bottom: 0;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.template__import-content .fullscreen_actions {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
	padding: calc(clamp(0.375rem, 0.107rem + 0.714vw, 0.75rem)) calc(clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem));
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	box-sizing: border-box;
}

.template__import-content .fullscreen_actions button {
	padding: calc(clamp(0.375rem, 0.196rem + 0.476vw, 0.625rem)) calc(clamp(0.875rem, 0.563rem + 0.833vw, 1.313rem));
	border: none;
	border-radius: calc(clamp(0.125rem, 0.08rem + 0.119vw, 0.188rem));
	cursor: pointer;
	display: flex;
	background-color: var(--wd-base-white-color);
}

.template__import-content .fullscreen_actions button svg path {
	fill: var(--wd-base-black-color);
}

.btn-toggle {
	width: fit-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	--bg: var(--wd-primary-color);
	--btn-bg-inactive: var(--wd-primar-light-color);
	--btn-bg-active: var(--wd-primary-color);
	--border-w: 0;
	--btn-thumb: #EDF2F4;
	--btn-w: 1.8rem;
	--btn-h: calc(var(--btn-w) / 2);
	--gap: calc(var(--btn-h) / 10);
}

.btn-toggle input[type="checkbox"] {
	display: none !important;
}

.btn-toggle .toggle {
	box-sizing: content-box;
	width: var(--btn-w);
	height: var(--btn-h);
	padding: var(--gap);
	border-radius: var(--btn-w);
	background: var(--btn-bg-inactive);
	cursor: pointer;
	position: relative;
	transition: background 0.3s;
}

.btn-toggle .toggle::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: var(--gap);
	width: var(--btn-h);
	height: var(--btn-h);
	border-radius: 50%;
	background: var(--btn-thumb);
	transition: transform 0.3s;
}

.btn-toggle input[type="checkbox"]:checked + .toggle::before {
	transform: translateX(calc(var(--btn-w) - var(--btn-h)));
}

.btn-toggle input[type="checkbox"]:checked + .toggle {
	background: var(--btn-bg-active);
}

/*# sourceMappingURL=wizard.css.map */