#sm_sortable {
  margin: 0;
  max-width: 400px;
  background-color: rgba($primary-color, .05);
  padding: calculateRem(20px);
  margin-bottom: calculateRem(30px);
  & .ui-state-default {
    & .option__row {
      margin-bottom: calculateRem(15px);
    }
  }
}