#sm_sortable {
  margin: 0;  
  & .ui-state-default {
    background-color: rgba($secondary-color, .03);
    padding: calculateRem(16px);
    margin-bottom: calculateRem(15px);
    border-radius: 0.5rem;
    & .option__row {
      margin-bottom: 0;
    }
  }
  & .ui-sortable-helper {
    border: 1px dashed $secondary-color;
    background-color: rgba($secondary-color, 0.02);
  }
}