.sm_input_cover {
  & input[type="text"], & input.number[type="number"] {
    width: $form-fields-width;
    height: $form-fields-height;
    line-height: 3;
    background: var(--sm-base-white-color);
    border: $border-width solid var(--sm-secondary-color);
    border-radius: $form-field-border-radius;
    padding: $form-field-padding;
    font-size: $form-field-font-size;
    font-family: var(--sm-open-sans);
    &:active, &:hover, &:focus-visible {
      border-color: var(--sm-primary-color);
    }
    &:focus {
      @include box-shadow();
      outline: $outline-width solid transparent;
    }
  }  
}
