.select2, .select2-selection {
    height: 100% !important;
    width: 100% !important;
}
.select2-selection__choice {    
    line-height: 1.3;
    font-size: calculateRem(14px);
    background-color: rgba($base-black-color, 0.08) !important;
    border: 1px solid rgba($base-black-color, 0.08) !important;
    color: var(--sm-base-black-color);
    &__remove {        
        border-radius: 0 !important;
        color: var(--sm-base-black-color)!important;
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-right-color: rgba($base-white-color, 0.3) !important;        
        &:hover {
            background-color: transparent !important;
            border: 1px solid var(--sm-input-focus-border-color);
        }
        & span {
            line-height: 1.1 !important;
            height: 1.2rem !important;
        }

    }
}
.select2-selection__rendered {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 5px !important;
    margin: 0 !important;
}
.select2-selection {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.select2-container--default {
    & .select2-selection--multiple {
        border: $border-width solid var(--sm-input-border-color);
    }
    &.select2-container--focus {
        & .select2-selection--multiple {
            border: 1px solid var(--sm-input-focus-border-color);
            outline-color: transparent;
            box-shadow: 0 0 0 1px var(--sm-base-white-color), 0 0 0 3px var(--sm-primary-color) !important;
        }
    }
}
.select2-container:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.select2-search--inline {
    & textarea {
        height: 100% !important;
    }
}