#range-slider {max-width: 80%; margin: 0 auto; padding-top: 50px; }
#slider-range { background-color: #D4D4D4; }

.ui-slider-horizontal .ui-slider-range { background-color: #6798BD; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus { 
  background: #fff!important;
  border: 1px solid #cccccc!important;
}

.ui-slider .ui-slider-handle {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
  border-radius: 50%;
  height:20px;
  width:20px;
}

#amount { 
  font-size: 1.75em; 
  font-weight: 300;
  line-height: 1.6875em;
  color:#6798BD; 
  text-align:center;
  width:100%;
  margin-top: 20px;
}

