.#{$prefix}_select {
  position: relative;
  display: flex;
  width: $form-fields-width;
  height: $form-fields-height;
  line-height: 3;
  background: $white-color;
  border-radius: $form-field-border-radius;
  margin-bottom: $input-bottom-spacing;  
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border: $border-width solid $secondary-color !important;
    background: $white-color;
    background-image: none;
    flex: 1;
    padding: 0 3rem 0 1rem;
    color:black;
    cursor:pointer;
    font-size: $form-field-font-size;
    font-family: $base-font-family;
    max-width: 100%;
    width: 100%;

    &::-ms-expand {
      display: none;
    }
    &:hover {
      color: $secondary-color;
    }
    &:focus {
      @include box-shadow();
      border: $border-width solid $primary-color !important;
      outline: $outline-width solid transparent;

    }
  }

  & .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $secondary-color;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: $transition-all;
    cursor:pointer;
    pointer-events:none;
  }
  &:hover {
    color: $secondary-color;
    opacity: 1;
    & .arrow-down {
      border-top: 5px solid $primary-color;
    }
  }
}
