.#{$prefix}_radio_wrapper {
  position: relative;
  margin-bottom: $input-bottom-spacing;
  & label {
    padding: 0 $padding-left-right;
    height: $checkbox-height-before + $border-width;
    display: inline-flex;
    align-items: center;
    font-size: $form-field-font-size;
  }
  & input {
    height: $checkbox-height-before;
    width: $checkbox-width-before;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    & + label::before {
      content: "";
      height: $checkbox-height-before;
      width: $checkbox-width-before;
      left: 0;
      position: absolute;
      top: 0;
      border-radius: $border-radius-50;
      border: $border-width solid $secondary-color;
    }
    & + label::after {
      content: '\002B24';
      opacity: 0;
      border-radius: $border-radius-50;
      position: absolute;
      height: $checkbox-height-after;
      width: $checkbox-width-after;
      left: 0;
      top: 0;
      transition: $transition-all;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $checkbox-height-after - 6;
      color: $primary-color;
      border: $border-width solid transparent;
    }
    &:checked + label::after {
      opacity: 1;
    }
    &:focus + label::before {
      @include box-shadow();
      outline: $outline-width solid transparent;
    }
  }
}
