.#{$prefix}_toggle{
  margin-bottom: 1rem;
  display: block;
  .toggle-control{
    transition: $transition-all;
    width: $width;
    height: $height;
    display: block;
    border: 2px solid $secondary-color;
    border-radius: $height;
    background-color: $secondary-color;
    position: relative;
    cursor: pointer;
    &:after{
      transition: $transition-all;
      content: "";
      width: $width/2;
      height: $height;
      display: block;
      background-color: $base-white-color;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, .2),0 3px 2px rgba(black,.2);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $primary-color;
      background-color: $primary-color;
      &:after{
        left: $width/2;
        top: 0;
      }
    }
  }
}