.btn-toggle {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --bg: var(--wd-primary-color);
  --btn-bg-inactive: var(--wd-primar-light-color);
  --btn-bg-active: var(--wd-primary-color);
  //--border: #DCDCDC;
  --border-w: 0;
  --btn-thumb: #EDF2F4;
  --btn-w: 1.8rem;
  --btn-h: calc(var(--btn-w) / 2);
  --gap: calc(var(--btn-h) / 10);
  & input[type="checkbox"] {
    display: none !important;
  }
  .toggle {
    box-sizing: content-box;
    width: var(--btn-w);
    height: var(--btn-h);
    padding: var(--gap);
    border-radius: var(--btn-w);
    background: rgba(0,0,0,0.10);
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
  }
  .toggle::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: var(--gap);
    width: var(--btn-h);
    height: var(--btn-h);
    border-radius: 50%;
    background: var(--wd-gray-1-color);
    transition: transform 0.3s;
  }
  input[type="checkbox"]:checked + .toggle::before {
    transform: translateX(calc(var(--btn-w) - var(--btn-h)));
    background: var(--wd-base-white-color);
  }

  input[type="checkbox"]:checked + .toggle {
    background: var(--btn-bg-active);
  }
  &.settings__toggle {
    position: relative;
    top: 0;
    left: 0;
  }
}