.step__content {
  &-options {
    & .row__option {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &-label {
        width: 50%;
        & label {
          margin: 0 0 5px 0;
          padding: 0;
          font-size: calc(clamp(0.5rem, 0.500rem + 0.4vw, 0.9rem));
          user-select: none;
          color: var(--smd-contrast-color);
          font-weight: 600;
        }
      }
      &-field {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        & input, & select, & textarea {
          width: 100%;
        }
        & input[type="file"] {
          display: block;
        }
      }
      &.fields_4_cols {
        flex-direction: column;
        gap: 0.5rem;
        & .row__option-field {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.5rem;
        }
      }
      &.field_1_col {
        flex-direction: column;
        gap: 0.5rem;
        & .row__option-field {
          width: 100%;
          & input, textarea, select {
            width: 100%;
          }
        }
      }
    }
  }
}


.opacity__field {
  gap: 0.5rem;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
  & span {
    width: 40px;
    display: block;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    text-align: center;
    padding: 0.2rem;
    box-sizing: border-box;
  }
  & input[type="range"] {
    flex: 1;
    background-color: transparent;
  }
}