.wizard-select {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  & select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 0 calc(clamp(0.375rem, 0.196rem + 0.476vw, 0.625rem));
    border: none;
    background: transparent;
    font-size: calc(clamp(0.875rem, 0.786rem + 0.238vw, 0.9rem));
    @media screen and (max-width: 767px) {
      min-height: 28px;
    }
  }
  & .wizard-select-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
  }
}