.body_template_importer {
  overflow: hidden;
}
.template__import {
  background: #1e1e1e;
  color: #ccc;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  min-height: calc(100vh - 93.25px);
  position: fixed;
  right: 0;
  top: 0;
  &-wrapper {
    height: calc(100% - 93.25px);
  }
  &-cover {
    background: #1e1e1e;
    color: #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-layout {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    background-color: red;
    @media screen and (min-width: 782px) {
      flex-direction: row;
    }
  }

  &-sidebar {
    flex-shrink: 0;
    width: 100vw;
    z-index: 1;
    background-color: yellow;
    @media (min-width: 782px) {
      width: 360px;
    }
  }

  &-content {
    flex-grow: 1;
    position: relative;
    z-index: 2;
    background-color: blue;
    &--canvas {
      align-items: flex-start;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: saddlebrown;
      padding: 24px;
      box-sizing: border-box;
      overflow-y: scroll;
      @media (min-width: 782px) {
        bottom: 24px;
        top: 24px;
        left: 24px;
        width: calc(100% - 48px);
      }
    }
  }
}