// 'wt' is prefix for "wizard template"
$wt-primary-color: #6B4BFD !default;
$wt-secondary-color:  #202020 !default;
$wt-base-white-color: #ffffff !default;
$wt-base-black-color: #333333 !default;
$wt-error-color: #dc3545 !default;
$wt-success-color: #5f3cfd !default;

// 'wd' is prefix for "wizard dashboard"
$wd-primary-color: #6B4BFD !default;
$wd-primary-light: #6B4BFD !default;
$wd-border-color: #eeeeee !default;
$wd-bg-color: #F9F9F9 !default;
$wd-gray-1-color: #999999 !default;
$wd-gray-2-color: #CCCCCC !default;
$wd-input-border-color: #DDDDDD !default;
$wd-primary-light-color: #e1dbff !default;
$wd-light-gray-1-color: #dddddd !default;
$wd-light-gray-2-color: #fafafa !default;


// 3. Colors Array for root css variables
$wizardColor: (
        'wt-primary-color': $wt-primary-color,
        'wt-secondary-color': $wt-secondary-color,
        'wt-base-white-color': $wt-base-white-color,
        'wt-base-black-color': $wt-base-black-color,
        'wt-error-color': $wt-error-color,
        'wt-success-color': $wt-success-color,

        'wd-primary-color': $wd-primary-color,
        'wd-primary-light-color': $wd-primary-light,
        'wd-border-color': $wd-border-color,
        'wd-bg-color': $wd-bg-color,
        'wd-gray-1-color': $wd-gray-1-color,
        'wd-gray-2-color': $wd-gray-2-color,
        'wd-base-white-color': $wt-base-white-color,
        'wd-base-black-color': $wt-base-black-color,
        'wd-input-border-color': $wd-input-border-color,
        'wd-primar-light-color': $wd-primary-light-color,
        'wd-light-gray-1-color': $wd-light-gray-1-color,
        'wd-light-gray-2-color': $wd-light-gray-2-color
) !default;

$color-scheme-classes: 'default', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6';


