// 'wt' is prefix for "wizard template"
//$wt-primary-color: #fe4773 !default;


//$wt-error-color: #dc3545 !default;
//$wt-success-color: #5f3cfd !default;

// 'wd' is prefix for "wizard dashboard"
$wd-base-white-color: #ffffff !default;
$wd-base-black-color: #333333 !default;
$wd-primary-color: #fe4773 !default;
$wd-primary-light: #ffc8d5 !default;
$wd-border-color: #eeeeee !default;
$wd-bg-color: #F9F9F9 !default;
$wd-gray-1-color: #999999 !default;
$wd-gray-2-color: #CCCCCC !default;
$wd-input-border-color: #DDDDDD !default;
$wd-light-gray-1-color: #dddddd !default;
$wd-light-gray-2-color: #fafafa !default;
$wd-helper-text-color: #666666 !default;

// 3. Colors Array for root css variables
$wizardColor: (
        'wd-primary-color': $wd-primary-color,
        'wd-primary-light-color': $wd-primary-light,
        'wd-border-color': $wd-border-color,
        'wd-bg-color': $wd-bg-color,
        'wd-gray-1-color': $wd-gray-1-color,
        'wd-gray-2-color': $wd-gray-2-color,
        'wd-base-white-color': $wd-base-white-color,
        'wd-base-black-color': $wd-base-black-color,
        'wd-input-border-color': $wd-input-border-color,
        'wd-light-gray-1-color': $wd-light-gray-1-color,
        'wd-light-gray-2-color': $wd-light-gray-2-color,
        'wd-helper-text-color': $wd-helper-text-color
) !default;


$color-scheme-classes: 'default', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6';