:root {
  @each $color, $value in $dashboard-colors {
    --smd-#{$color}: #{$value};
  }
}

.sm__dashboard * {
  box-sizing: border-box;
}

.smd-container {
  max-width: calc(clamp(22.5rem, -15rem + 100vw, 75rem));
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 390px) {
    padding: 0;
  }
}
.smd-fluid-container {
  max-width: 100%;
  padding: 0 calc(clamp(1.3rem, 0.8rem + 1.333vw, 2rem));
  margin: 0 auto;
  width: 100%;
}

.sm__dashboard {
  background-color: var(--smd-base-color);
  & #wpfooter {
    display: none;
  }
  #adminmenu .wp-menu-image img {
    padding: 6px 0 0 !important;
  }
}

.smd-seperator {
  width: 100%;
  height: 1px;
  background-color: var(--smd-seperator-color);
}



// Utilities

