:root {
  @each $color, $value in $dashboard-colors {
    --smd-#{$color}: #{$value};
  }
}

// General Styling



.sm__dashboard * {
  box-sizing: border-box;
}


//.sm__dashboard {
//  & #wpcontent {
//    padding-left: 0 !important;
//    @media screen and (max-width: 767px) {
//      padding: 0 !important;
//    }
//  }
//  & #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
//    color: white !important;
//  }
//}
//
//#wp-admin-bar-site-mode li.site-mode-admin-bar .ab-item:hover, li.site-mode-admin-bar .ab-item:hover span {
//  color: var(--smd-base-color) !important;
//}

.smd-container {
  max-width: calc(clamp(22.5rem, -15rem + 100vw, 75rem));
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 390px) {
    padding: 0;
  }
}
.smd-fluid-container {
  max-width: 100%;
  padding: 0 calc(clamp(1.3rem, 0.8rem + 1.333vw, 2rem));
  margin: 0 auto;
  width: 100%;
}

.sm__dashboard {
  background-color: var(--smd-base-color);
  & #wpfooter {
    display: none;
  }
  #adminmenu .wp-menu-image img {
    padding: 6px 0 0 !important;
  }
}

.smd-seperator {
  width: 100%;
  height: 1px;
  background-color: var(--smd-seperator-color);
}



// Utilities

