.smd__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0;
  }
  padding: 0 calc(clamp(0.5rem, 0.143rem + 0.952vw, 1rem));
  background-color: var(--smd-header-bg);

  &-logo {
    //max-width: calc(clamp(6.25rem, 2.679rem + 9.524vw, 11.25rem));
    max-width: calc(clamp(12rem, 10.571rem + 3.81vw, 14rem));
    padding: calc(clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem)) 0;
    & a {
      display: block;
      & img {
        width: 100%;
      }
    }
  }
}