.smd-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  & a {
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 0;
    border-top: 2px solid transparent;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: var(--smd-contrast-color);
    padding: calc(clamp(0.375rem, 0.125rem + 0.667vw, 0.625rem)) calc(clamp(0.625rem, 0rem + 1.667vw, 1.25rem));
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &.active {
      background-color: var(--smd-base-color);
      border-top: 2px solid var(--smd-primary-color);
    }
  }
}
.smd-tab-content {
  & .tabs_wrapper {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      display: block;
    }
  }
  & .sm_tabs {
    max-width: 100%;
  }
}