.site_mode__wrap--cover-content-nav {
  @include flex_mixin(flex, null, end, null, null);
  @include border(bottom, 1px, solid, rgba($secondary-color, 0.15));

  & .nav-tab {
    @include flex_mixin(flex, center, center, null, calculateRem(10px));
    background-color: $base-white-color;
    padding: calculateRem(14px);
    @include fontSize(16px);
    @include border(top, 1px, solid, rgba($secondary-color, 0.15));
    @include border(right, 1px, solid, rgba($secondary-color, 0.15));
    border-bottom: none !important;
    min-width: calculateRem(80px);
    color: rgba($secondary-color, 0.7);
    transition: $transition-all;

    & svg {
      & path, & circle {
        fill: rgba($secondary-color, 0.7);
      }
    }

    &:first-child {
      @include border(left, 1px, solid, rgba($secondary-color, 0.15));
    }

    &.nav-tab-active {
      margin: 0;
      @include border(top, 1px, solid, rgba($secondary-color, .1));
      background-color: $primary-color;
      color: $base-white-color;

      & svg {
        & path, & circle {
          fill: rgba($base-white-color, 1);
        }
      }

      &:hover {
        color: rgba($base-white-color, 1);
        & svg {
          & path, & circle {
            fill: rgba($base-white-color, 1);
          }
        }
      }

    }

    &:hover {
      color: rgba($secondary-color, 1);
      & svg {
        & path, & circle {
          fill: rgba($secondary-color, 1);
        }
      }
    }

    &:focus {
      @include box-shadow();
      outline: none;
    }
  }
}
