.nav-tab-wrapper a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-tab-wrapper svg {
	width: 18px;
}

.template__wrapper .template_options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.template_thumb {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	position: relative;
	background: #fff;
}

.template_thumb .radio-img {
	display: flex;
	width: 100%;
	height: 340px;
}

.template_thumb .radio-img > .image {
	cursor: pointer;
}

.template_thumb .image {
	opacity: 0.8;
	width: 100%;
	height: 340px;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: gray;
	background-size: cover;
	display: inline-block;
	transition: all .2s;
}

.template_thumb .image:hover {
	opacity: 1;
}

.template_thumb .template_actions {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.template_thumb .template_actions .template_title-title {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.template_thumb .template_actions .active_template-btn a, .template_thumb .template_actions .active_template-btn span {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.8;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-shadow: none;
	vertical-align: baseline;
	transition: all .2s;
}

.template_thumb .template_actions .active_template-btn a:hover, .template_thumb .template_actions .active_template-btn span:hover {
	background: #135e96;
	border-color: #135e96;
	color: #fff;
}

.activated_template {
	background-color: #141414;
}

.activated_template .template_actions .template_title-title {
	color: #ffffff;
}

.activated_template .template_actions .active_template-btn span {
	background-color: #d7d7d8;
	border-color: #d7d7d8;
	color: #515151;
	cursor: not-allowed;
}

.activated_template .template_actions .active_template-btn span:hover {
	background-color: #d7d7d8;
	border-color: #d7d7d8;
	color: #515151;
}

.activated_template .template_actions .toggle .toggle-control {
	border: 2px solid #f0f0f0;
	background-color: #f0f0f0;
}

.activated_template .template_actions .toggle input {
	display: none;
}

.activated_template .template_actions .toggle input:checked + .toggle-control {
	border-color: #2271b1;
	background-color: #2271b1;
}

.activated_template .template_actions .toggle input:checked + .toggle-control:after {
	left: 1em;
}

.bg-image-upload {
	width: 400px;
	height: 250px;
	display: block;
}

.bg-image-upload img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Logo-upload {
	display: block;
	width: 80px;
	height: auto;
}

.Logo-upload img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo-remove, .bg-image-remove {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	margin-top: 20px;
}

.logo-remove:hover, .bg-image-remove:hover {
	color: #ffffff;
}

.toggle .toggle-control {
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	width: 2em;
	height: 1em;
	display: block;
	border: 2px solid rgba(0, 0, 0, 0.01);
	border-radius: 1em;
	background-color: rgba(0, 0, 0, 0.06);
	position: relative;
}

.toggle .toggle-control:after {
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	content: "";
	width: 1em;
	height: 1em;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
}

.toggle input {
	display: none;
}

.toggle input:checked + .toggle-control {
	border-color: #2271b1;
	background-color: #2271b1;
}

.toggle input:checked + .toggle-control:after {
	left: 1em;
}

@media screen and (max-width: 1536px) {
	.template__wrapper .template_options {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}
}

@media screen and (max-width: 767px) {
	.template__wrapper .template_options {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
	.template_thumb .radio-img {
		height: 210px;
	}
	.template_thumb .image {
		height: 210px;
	}
}
