/*$off_white: #d7dcdf;
$checkbox-border-color-checked: $primary_color;
$checkbox-bg-color-unchecked: $white_color;
$radio-checked-color: $primary_color;
$radio-unchecked-color: $primary_color;*/
.screen-reading {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

.nav-tab-wrapper a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-tab-wrapper svg {
	width: 18px;
}

.redirect_options {
	display: none;
	align-items: start;
	gap: 2rem;
}

.logo-remove, .bg-image-remove {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	margin-top: 20px;
}

.logo-remove:hover, .bg-image-remove:hover {
	color: #ffffff;
}

.template__wrapper .template_options {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.template_thumb {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	position: relative;
	background: #fff;
}

.template_thumb .radio-img {
	display: flex;
	width: 100%;
	height: 340px;
}

.template_thumb .radio-img > .image {
	cursor: pointer;
}

.template_thumb .image {
	opacity: 0.8;
	width: 100%;
	height: 340px;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: gray;
	background-size: cover;
	display: inline-block;
	transition: all .2s;
}

.template_thumb .image:hover {
	opacity: 1;
}

.template_thumb .template_actions {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.template_thumb .template_actions .template_title-title {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.template_thumb .template_actions .active_template-btn a, .template_thumb .template_actions .active_template-btn span {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.8;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-shadow: none;
	vertical-align: baseline;
	transition: all .2s;
}

.template_thumb .template_actions .active_template-btn a:hover, .template_thumb .template_actions .active_template-btn span:hover {
	background: #135e96;
	border-color: #135e96;
	color: #fff;
}

.activated_template {
	background-color: #141414;
}

.activated_template .template_actions .template_title-title {
	color: #ffffff;
}

.activated_template .template_actions .active_template-btn span {
	background-color: #d7d7d8;
	border-color: #d7d7d8;
	color: #515151;
	cursor: not-allowed;
}

.activated_template .template_actions .active_template-btn span:hover {
	background-color: #d7d7d8;
	border-color: #d7d7d8;
	color: #515151;
}

@media screen and (max-width: 1536px) {
	.template__wrapper .template_options {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}
}

@media screen and (max-width: 767px) {
	.template__wrapper .template_options {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
	.template_thumb .radio-img {
		height: 210px;
	}
	.template_thumb .image {
		height: 210px;
	}
}

.um_checkbox_wrapper {
	position: relative;
}

.um_checkbox_wrapper label {
	padding: 0 38px;
	height: 19px;
	display: inline-flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

.um_checkbox_wrapper input {
	height: 22px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 22px;
}

.um_checkbox_wrapper input::before {
	display: none;
}

.um_checkbox_wrapper input + label::before {
	border: 1px solid #81B622;
	content: "";
	height: 18px;
	left: 0;
	position: absolute;
	top: 0;
	width: 18px;
	border-radius: 0.25em;
}

.um_checkbox_wrapper input + label::after {
	content: "\2713";
	opacity: 0;
	font-size: 14px;
	font-weight: 700;
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25em;
	border: 1px solid transparent;
}

.um_checkbox_wrapper input:checked + label::before {
	background-color: #81B622;
}

.um_checkbox_wrapper input:checked + label::after {
	opacity: 1;
	color: #ffffff;
}

.um_checkbox_wrapper input:focus + label::before {
	box-shadow: 0 0 0 1px rgba(129, 182, 34, 0.5);
	outline: 1px solid transparent;
}

.um_radio_wrapper {
	position: relative;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.um_radio_wrapper label {
	padding: 0 38px;
	height: 19px;
	display: inline-flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

.um_radio_wrapper input {
	height: 22px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 22px;
}

.um_radio_wrapper input::before {
	display: none;
}

.um_radio_wrapper input + label::before {
	content: "";
	border: 1px solid #81B622;
	height: 18px;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	border-radius: 50%;
}

.um_radio_wrapper input + label::after {
	content: "\2713";
	opacity: 0;
	border: 6px solid #81B622;
	position: absolute;
	font-size: 12px;
	font-weight: 700;
	left: 0;
	top: 0;
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid transparent;
	width: 18px;
	height: 18px;
	color: #ffffff;
	background-color: #81B622;
}

.um_radio_wrapper input:checked + label::after {
	opacity: 1;
}

.um_radio_wrapper input:focus + label::before {
	box-shadow: 0 0 0 1px rgba(129, 182, 34, 0.5);
	outline: 1px solid transparent;
}

.um_select {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #ffffff;
	border-radius: 0.25em;
	margin-bottom: 1.5rem;
}

.um_select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 1px solid #81B622 !important;
	background: #ffffff;
	background-image: none;
	flex: 1;
	padding: 0 1em;
	color: black;
	cursor: pointer;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}

.um_select select::-ms-expand {
	display: none;
}

.um_select select:hover {
	color: #757575;
}

.um_select select:focus {
	box-shadow: 0 0 0 1px rgba(129, 182, 34, 0.5);
	outline: 1px solid transparent;
}

.um_select .arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #757575;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	cursor: pointer;
	pointer-events: none;
}

.um_select:hover {
	color: #757575;
}

.um_select:hover .arrow-down {
	border-top: 5px solid #81B622;
}

.um_input_cover input[type="text"] {
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #ffffff;
	border: 1px solid #81B622;
	border-radius: 0.25em;
	padding: 0 1em;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}

.um_input_cover input[type="text"]:active, .um_input_cover input[type="text"]:hover, .um_input_cover input[type="text"]:focus-visible {
	border-color: #81B622;
}

.um_input_cover input[type="text"]:focus {
	box-shadow: 0 0 0 1px rgba(129, 182, 34, 0.5);
	outline: 1px solid transparent;
}

.label_top label {
	width: 100%;
	display: block;
	margin-bottom: 1rem;
}

.um_toggle {
	margin-bottom: 1rem;
	display: block;
}

.um_toggle .toggle-control {
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	width: 2.5em;
	height: 1.25em;
	display: block;
	border: 2px solid #757575;
	border-radius: 1.25em;
	background-color: #757575;
	position: relative;
	cursor: pointer;
}

.um_toggle .toggle-control:after {
	transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	content: "";
	width: 1.25em;
	height: 1.25em;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 2px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
}

.um_toggle input {
	display: none;
}

.um_toggle input:checked + .toggle-control {
	border-color: #81B622;
	background-color: #81B622;
}

.um_toggle input:checked + .toggle-control:after {
	left: 1.25em;
	top: 0;
}

.bg-image-upload {
	width: 400px;
	height: 250px;
	display: block;
}

.bg-image-upload img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Logo-upload {
	display: block;
	width: 80px;
	height: auto;
}

.Logo-upload img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*
// Toggle
.toggle{
  .toggle-control{
    transition: $transition;
    width: $width;
    height: $height;
    display: block;
    border: 2px solid rgba(black,.01);
    border-radius: $height;
    background-color: rgba(black,.06);
    position: relative;
    &:after{
      transition: $transition;
      content: "";
      width: $width/2;
      height: $height;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, .2),0 3px 2px rgba(black,.2);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after{
        left: $width/2;
      }
    }
  }
}
*/
